[2018-03-12 23:51] reynoldsalec opened #37 "Create/Edit Favorite Apps and Quick Links"
**User Story**

As an USF admin, I'd like to be able to create new Favorite Apps and Quick Links.

**Tech Details**

Recreate these data models from the D7 site.

[2018-03-12 23:54] reynoldsalec opened #38 "Create Favorite Apps Dropdown Menu"
**User Story**

As a myUSF user, I want to access my list of Favorite Apps from a menu dropdown that is always present as I browse myUSF for easy access.

I should also be able to edit my Favorite Apps preferences from this list.

**Tech Details**

Dropdown of all Favorite Apps entities associated with the user.

[2018-03-12 23:55] reynoldsalec opened #39 "Quick Links Dashboard Block"
**User Story**

As a myUSF end user, I want easy access to all my Quick Links via my dashboard.

**Tech Details**

[2018-03-12 23:59] reynoldsalec opened #40 "Favorite Apps Preferences"
**Tech Details**

Preferences should be a stand-alone page where a user can manage which favorite apps show up in their dropdown menu.

- [ ] Show list of all apps available to be favorited
- [ ] Allow user to select or deselect an app to be added/removed to their favorite apps.
- [ ] Allow reordering of favorite apps
- [ ] Make sure we link each favorite app name to the app itself for reference

[2018-03-13 00:02] reynoldsalec opened #41 "Groups Migration"
**Technical Details**

- [x] Migrate the old OG groups into D8 Groups module

Note that there are references from the groups to the various Link entities to designate certain Links as default for a given Group. We can migrate this relationship in #42.

[2018-03-13 00:14] reynoldsalec opened #42 "Migrate Existing Favorite Apps and Quick Links"

[2018-03-13 00:31] reynoldsalec opened #43 "Create/Edit Service Entity"
**Tech Details**

Transfer over the existing entity from the D7 site representing a Service/Product that USF offers. I'm guessing this will probably be a Node entity, although I'll leave that up to you @labboy0276.                        Some special features to note...

- [ ] Updates field: Puts a warning on the Service's page of an upcoming update.
- [ ] Category/Provider references: These haven

[2018-03-13 00:34] reynoldsalec opened #44 "Migrate Existing Service Entities"
**Tech Details**

[2018-03-13 00:35] reynoldsalec opened #45 "Visual Integration"
@tomkhenke is working on the visual updates for myUSF. We'll be looking for an update from him by the end of March to give us an idea of any adjustments necessary to the Links/Service Catalog.

[2018-03-13 00:37] reynoldsalec opened #46 "Service Catalog Main Page"
**Tech Details**

- [ ] Search for Service Catalog entries (guessing this is the usf_search dependency), with filtering by "Audiences" (Groups?)

[2018-03-13 00:41] reynoldsalec opened #47 ""How Do I?" Page for Services"
**Tech Details**

Page listing all the "How Do I?" links, separated out by each Service.

[2018-03-13 00:44] reynoldsalec opened #48 "Create "Top Questions" Entities and Migrate"
**Tech Details**

TBD

[2018-03-14 20:29] labboy0276 commented on #41
@reynoldsalec @rjbain see https://github.com/rjbain/dgreat/pull/50

I added a new module called dgreat_migration, installed and configured the group module & added the config for a csv migration of the d7 og group content type itself to d8 groups.  I attached the csv here as well.  We can add in via rsync later

https://www.dropbox.com/s/0ecqo33d3jhfzvt/migrate-og-to-groups.csv?dl=0

[2018-03-21 21:14] labboy0276 commented on #42
OK

This was a good chunk of work.  What I did was create a multi-step migration to be run like this:

[code]

the first creates the groups into the two group types, then the users pulls in all the users, the the noes pulls in the fav links then also adds the defaults to the group

[2018-03-21 21:19] rjbain commented on #42
Niiice! Thanks, John.

[2018-03-21 22:55] labboy0276 commented on #37
This is all set as well, there is a new module called dgreat_nodes

[2018-03-22 03:40] labboy0276 commented on #38
This is pretty much done, just need to figure out the large menu render

[2018-03-22 19:26] labboy0276 opened #53 "User Group ER Field"
We need to add a group ER field to the user that allows us to add people to said groups.

Also, Need to make sure it populates with the current groups on migrate

[2018-03-28 18:52] labboy0276 commented on #43
I am moving the two checkboxes as a new ticket

[2018-03-28 18:53] labboy0276 opened #58 "Services New Features"
- [ ] Updates field: Puts a warning on the Service's page of an upcoming update.
- [ ] Category/Provider references: These haven't been used, but were intended to allow other divisions to offer services via the Services Catalog.

[2018-03-29 17:04] reynoldsalec opened #59 "Search Configuration"

[2018-04-04 20:19] labboy0276 opened #62 "Who Am I / Services Search"
The old views / search were based off of panels and exposed panels blocks.  We don't have that functionality now.  Need to figure out how the site is getting structured so the services view / services view search can be finalized.

[2018-04-09 23:23] drmyers1 opened #63 "Quick Links Feedback"
1. Assigned student role to my account.  Cleared cache and logged out and back in.  Was not able to see the default list of quick links.
2. Removed admin role to see student only access.  I get access denied when accessing quick links
http://pr-tandem-dgreat.pantheonsite.io/quick-links
3. Tried to add a quick link and get page not found
http://pr-tandem-dgreat.pantheonsite.io/node/add/favorite-lin

[2018-04-09 23:31] drmyers1 opened #64 "Favorite Links Feedback"
Assigned student role to my account. Cleared cache and logged out and back in. Was not able to see the default list of favorite links.
Removed admin role to see student only access. I get access denied when accessing quick links
http://pr-tandem-dgreat.pantheonsite.io/quick-links

I am not able to test much more without the defaults displaying and not being able to add a quick link.

[2018-04-10 23:23] drmyers1 opened #66 "Services Catalog Feedback"
1. i tested editing an application and compare with the productions site.  http://pr-tandem-dgreat.pantheonsite.io/node/13076/edit?destination=/admin/content%3Ftitle%3Dbanner%26type%3Dusf_service%26status%3DAll%26langcode%3DAll
Here are some questions:
A. url was not included in the migration.  Will that need to be added manually?  On production is was listed in the permalink section and on the ne

[2018-04-11 15:11] labboy0276 commented on #66
@drmyers1

1:
A. Yes that is a seperate migration, there is a url alias migration task that will need to get done once nodes are migrated
B. We would have to setup that text format, you can create a seperate task to handle that if you want
C. Fixed
2 & 3 On these two, the team is figuring out to handle staticy type pages since the structure will be different in d8.  In the interim the views are th

[2018-04-12 17:48] drmyers1 commented on #66
@rjbain @mjuarez2 @nicholas-kebbas we need discuss the presentation of the 2 & 3 in my feedback.

@labboy0276 it looks like the services no longer exist in the tandem branch.  Not able to test that item C is fixed.

[2018-04-16 23:59] drmyers1 commented on #63
@labboy0276

Added the student role to my profile and navigated to My Quick Links
http://pr-tandem-dgreat.pantheonsite.io/quick-links
I do not see any default quick links

Tried to add a new Quick Link from the All Quick Links page
http://pr-tandem-dgreat.pantheonsite.io/quick-links/allapps
I get a page not found
http://pr-tandem-dgreat.pantheonsite.io/node/add/favorite-link?edit[field_link_type][

[2018-04-17 15:46] labboy0276 commented on #63
@drmyers1 ok i added in the default links as well, took some effort but did it all through code

[2018-04-17 19:04] drmyers1 commented on #63
@labboy0276

Quick Links Summary:

New Employee starts.  They log into myUSF for the first time and should see their default links set up because they are part of the employee role.  Please note that a person can have multiple roles.  For example, an employee can also have the employee role.  The person should see all the default links for all the roles they are apart of.

The new employee has the

[2018-04-24 19:15] drmyers1 commented on #64
@labboy0276

Testing Senario as a student:
I have the default favorite links that display for me as a student.
http://pr-tandem-dgreat.pantheonsite.io/favorite-links

I however am not able to reorder the links. The production behavior allows each user to reorder their list of quick links.
Unlike the Quick Links, non administrators are not allowed to add Favorite Links.  This functionality is worki

[2018-05-01 19:41] reynoldsalec opened #80 "Migration Help"
- [ ] Review User relationships
  - These should be good-to-go, migrated into their own Groups. Simple review.
- [ ] Relationship between content and files
  - right now they're content scraping, so that relationship is hard to establish
  - Were the original NIDs recorded? --> todo @rjbain
  - If not, have to link via title
  - Files referenced in Panels?
- [ ] Webforms
  - 1-200 forms
  - Want t

[2018-05-01 19:42] reynoldsalec opened #81 "Configuration Management"
- Rob needs help with the Split Config module
- Ignore config for blocks/menus
- Site builders create blocks on the Production site and sync them down with the database
  - Can't have developers bottleneck content development; need to allow site builders power
  - Rob has config for blocks sent to a different folder, but needs Drupal to ignore those
  - Same issue with menus

[2018-05-01 19:42] reynoldsalec opened #82 "CAS Authentication"
- CAS login --> need to interface with IT department
- Carrying over role information from system called Banner via CAS
- Open Atrium relied heavily on Organic Groups and had to make glue code to import roles into the Groups. Can we do this _just_ with roles now, or will we have to map some things to our new Groups?
- There may be some permissions to manage block visibility by Group
- Block Visibi

[2018-05-01 19:43] reynoldsalec opened #83 "Workbench Moderation"
- Open Atrium Workbench version was removed on D7 after issues.
- USF has never had a working install.
- See how far we can get with D8's core moderation features.

[2018-05-01 19:46] reynoldsalec opened #84 "Private Group Spaces Consult"
We'll just want to talk with @mjuarez2 and @nicholas-kebbas to see how we can best assist them here.

[2018-05-09 23:52] drmyers1 commented on #63
@labboy0276

Here is the feedback from testing with multiple roles.  I set up my profile to have both the student and employee role.

- Need the ability to reorder quick links
- currently it stacks the list of quick links by role.  employee first and then student second for this example.  on the current live site, it combines the links.  For the links that are defaults for both roles the link only

[2018-05-10 16:12] drmyers1 commented on #64
@labboy0276

Here is the feedback from testing with multiple roles. I set up my profile to have both the student and employee role.

- Need the ability to reorder favorites
- currently it stacks the list of favorites by role. employee first and then student second for this example. on the current live site, it combines the links. For the links that are defaults for both roles the link only appears

[2018-05-11 23:40] drmyers1 opened #91 "Service Catalog Feedback"
@labboy0276

http://dev-dgreat.pantheonsite.io/its/applications-services

I tried to access the service catalog from the page that @rjbain created.  Here is the page on production: https://myusf.usfca.edu/its/applications-services

- I dont see this page on the tandem branch
- On dev it does not list the applications
- There needs to be a filter for audience (student, faculty and staff)
- There ne

[2018-05-11 23:49] drmyers1 commented on #66
@labboy0276

i do not see any of the applications listed on the page @rjbain created.
http://dev-dgreat.pantheonsite.io/its/applications-services

I also checked the tandem branch and do see a page.  Here is the production link to compare:  https://myusf.usfca.edu/its/applications-services

- The list of applications should show title and short description
- There also needs to be a filter (studen

[2018-05-16 16:50] #91 closed

[2018-05-16 19:38] labboy0276 commented on #64
Everything but draggableviews is set:

I spent a considerable amount of time today trying to get draggable views to work.  Since we are using a relationship based view, it renders out numerous duplicate rows results.  This happens and has been a problem forever.  Usually, you can try and click the distinct or require the relationship to solve this.  However, in group based views or maybe it is D8,

[2018-05-16 21:23] #62 closed, assigned to nobody

[2018-05-16 21:26] drmyers1 commented on #63
@labboy0276 i will test everything and give you my feedback. Ty

[2018-05-17 21:41] drmyers1 commented on #63
@labboy0276

Thank you for working on the corrections.  I was having problems seeing new quick links that I added as an employee.  I noticed that it only works if the user adds the employee group.  For the personal quick links that are being added to a users account, there shouldn't be a need to add a group to the link.  The groups should only apply to group default links.  A user should just need

[2018-05-17 23:35] drmyers1 commented on #64
@labboy0276

The favorite links currently link to the node.  They need to link to the application url.

On the All Apps page can we remove the link for the categories.  It currently goes to a page that shows all content for the taxonomy term.  Users dont need to view this information.

[2018-05-18 13:14] labboy0276 commented on #64
ok @drmyers1 This is all set, I will push these changes up to dev today

[2018-05-18 13:50] labboy0276 commented on #63
@drmyers1 Unfortunately the whole system is dependent on groups now.  As a non admin, you can't see content (like favorite links) that are not part of your group.  There is no way around this.  We will probably have to manually add the groups to the nodes in order for this to work.

[2018-05-18 16:18] drmyers1 commented on #63
@labboy0276

when a user creates a quick link it is only meant for them to see, not the group.

admins are the only users that add a quick links for the group to see.  keep in mind that it must be part of the default list of links for all users in the group to see.

Please let me know if you need more information.

[2018-05-18 16:42] drmyers1 commented on #63
@labboy0276

- The quick links are still pointing to the node.  They need to go to the url specified in the quick link.
- Can you have it open in a new window.

[2018-05-18 16:48] drmyers1 commented on #64
@labboy0276

Thank you for fixing the links. Can we please have the links open in a new window.

[2018-05-18 17:03] drmyers1 commented on #66
@labboy0276

i tested the search on the main application services page.
http://pr-tandem-dgreat.pantheonsite.io/its/applications-services

When i search by one of the service synonyms i get no results.  I tested with the term "Banner".  The synonym is list in the Administrative System Suite (Banner) service.

When I click to view a service it should display Title, Service Description, Policies, Ho

[2018-05-18 18:04] labboy0276 commented on #63
@drmyers1 OK I still need to add it to the group or they wont be able to see it.  No one can see content that isnt part of the group they dont belong to with the exception of admins.

I have to think about how to make it so user created content is only seen by the users as well.

[2018-05-18 18:06] labboy0276 commented on #66
@drmyers1 the how do i page is here right now: http://dev-dgreat.pantheonsite.io/how-do-i

[2018-05-18 18:11] labboy0276 commented on #64
@drmyers1 ok all set, i push this to tandem branch and will merge it into dev later on.

[2018-05-18 18:12] labboy0276 commented on #66
I fixed the url of the how do i on the tandem branch real quick

[2018-05-18 18:41] labboy0276 commented on #66
@drmyers1 Ok I am working on the search, it doesnt seem to work right no matter what I do.  As far as the display goes for the services themselves.  The issue was in the migration the text format wasn't migrated right, so it wont display.  I fixed it locally, but I have to remigrate the services for it to show up right.  You can manually go in and select the text format on the body for now.

[2018-05-18 19:14] labboy0276 commented on #63
@drmyers1 is there any reason why quick links are basically fav links?  Can i create a new content type for quick links and migrate them into that.  It would be the only to mitigate the group permission issues.

[2018-05-18 19:59] drmyers1 commented on #63
@labboy0276 The quick links were originally combined because they had similar functionality.  How much time would it take to create the new content type and migrate?

[2018-05-18 20:45] labboy0276 commented on #63
@drmyers1 an hour or so.  I will probably have to do that so we can get around the group permissions

[2018-05-18 20:47] drmyers1 commented on #63
@labboy0276 okay but you dont anticipate having a problems with displaying the default quick links to all users of a group?

[2018-05-18 20:48] labboy0276 commented on #63
Nope cause I call the db directly in a filter for that @drmyers1

[2018-05-18 20:51] drmyers1 commented on #63
@labboy0276 sounds good. ty

[2018-05-18 21:02] drmyers1 commented on #66
@labboy0276 thank you for fixing the How Do I link on dev.  I took a look at the How Do I page.  Can we put the How Do I links on separate lines instead separated by comma?  Also some of the services show up on the same line.  Can also have each service on a separate line?  See Digital Signage and Directory Services.  Also see Hardware and Instructional Design for examples.
http://dev-dgreat.panth

[2018-05-21 13:48] dustinleblanc commented on #81
@rjbain Looking to assist with this. I can see that it looks like you have a branch called 'split' that is working on this issue. I see that the split config is getting saved to `web/sites/default/` so we probably want to move that so it can be tracked in the same place as all other config.

Can you give me a summary of what we ant the end state to be here? It'd be great if we can get this to a co

[2018-05-21 16:04] rjbain commented on #81
@dustinleblanc Actually, we want to remove the developer from the block instance creation workflow entirely. The idea behind the split_config module (I think) is to split off some config from the /config directory so drupal will ignore it. You're right, that is the branch I've been working on and I made headway with it, but ran into problems.

Here's the way we'd like it to work:

1. Developer cre

[2018-05-21 16:11] drmyers1 commented on #63
@labboy0276 any updates on the quick links new content type and strategy for reordering

[2018-05-21 17:04] labboy0276 commented on #63
@drmyers1 I am working on this now

[2018-05-21 17:36] drmyers1 commented on #66
@labboy0276 thank you.  i will test once it gets pushed to dev.

[2018-05-21 18:49] labboy0276 commented on #63
OK @drmyers1 I looked at the old site for a little bit and thought about this more.  On the old site, new quick links were added to their respective organic groups.  Recreating the quick links as their own content type and having them operate outside of the groups isn't a good idea.  So, when a user creates a quick link now, it is added to their group so the permissions will work correctly.  No on

[2018-05-21 19:40] labboy0276 commented on #63
@drmyers1 ok this is on dev, please let me know

[2018-05-21 21:16] drmyers1 commented on #63
@labboy0276 I set up my account to be employee/student.  I was able to add a link and see it in my list.  I also had Nick log in and view his list and he did not see the link I added.  So this worked as expected.  I did notice that if I unflag the link I set up or if I unflag a default link, i dont see either of those links in the All Quick Links view.  So i have no way to re-add if needed.

[2018-05-21 23:58] drmyers1 commented on #63
@labboy0276 Do you have a strategy for reordering?  Can we have users re-number their list  or change the order weight?  Can you let me know your thoughts.

[2018-05-22 14:24] labboy0276 commented on #63
@drmyers1 That was the next thing i was going to play around with

[2018-05-22 15:53] dustinleblanc commented on #80
@rjbain is there anything unusual about the webforms on the site? I don't see any add-on modules, want to be aware of anything I might miss

[2018-05-22 16:21] nicholas-kebbas commented on #80
@rjbain @dustinleblanc Nope should just be that module

[2018-05-22 16:42] dustinleblanc commented on #80
Sweet! Moving on to redirects then

[2018-05-22 17:14] dustinleblanc commented on #80
@rjbain @nicholas-kebbas I've got both the webforms and redirects stubbed in, but we definitely have to do some work to map the nids and placement for the webforms. How were webforms placed on the old site? Where are we with tracking the node ids from the old site?

[2018-05-22 17:36] rjbain commented on #80
@dustinleblanc I believe @labboy0276 is setting up node mapping for migrations?
@nicholas-kebbas do users used panels to place webforms on the current site?

[2018-05-22 18:50] drmyers1 commented on #63
@labboy0276 i just tested with Nick and changing the weight seems to change the order for all users.  Nick could see what I changed and I had his changes.  Each user should be able to create a custom ordered list for themselves.  Let me know if you have any questions.

[2018-05-22 18:50] nicholas-kebbas commented on #80
@dustinleblanc @rjbain Most webforms were panelized within a section page, mainly so we could have the webform on a page with other content/with navigation.  The webform content type was also publicly accessible though. Like this form for example:

https://myusf.usfca.edu/content/announcement-submission-form
https://myusf.usfca.edu/marketing-communications/announcement-submission-form

Since we're

[2018-05-22 18:54] drmyers1 commented on #63
@labboy0276 i also tried to unflag and link and then add it back in from the All Quick Links view.  I do not see the link.  It is gone from my view.  Please note that my permissions are set as a user.

[2018-05-22 18:59] labboy0276 commented on #63
I will probably have to tweak the weight module more than as it doesn't have that functionality out of the box, may not be easily possible @drmyers1

[2018-05-22 19:13] labboy0276 commented on #63
@drmyers1 I think I will just make a custom schema for the weights and see if that does the trick

[2018-05-23 14:48] dustinleblanc commented on #80
@nicholas-kebbas I am down with whatever layout works best with the site setup. The next question though is:

Do we need to migrate any webform placements? If we do, that just means digging into how they are mapped in the database (I am guessing in some of the panels config) to find what pages they exist on, and then create the new paragraph block on the new site to migrate into.

[2018-05-23 15:06] dustinleblanc commented on #80
Also, just spoke with @labboy0276, we still have plenty of other nodes that haven't been migrated, so I think we might need to make sure to run ALL node migrations first before running these

[2018-05-23 16:58] labboy0276 commented on #63
@drmyers1 This was one of the more logically complex things I have done in awhile, but I think it may be good.  There is a lot of logix at play now between flagging, users and weights.  Can you double check everything and let me know.

I do know I have to fix the top quick links not sticking now, but wanted to wait to see if you saw anything else.

I just pushed the pr to dev

[2018-05-23 17:43] drmyers1 commented on #63
@labboy0276 i am in meetings this morning but I will be able to test this afternoon.  Thank you for working on this.

[2018-05-23 18:42] nicholas-kebbas commented on #80
@dustinleblanc Migrating all webform placements would be ideal if that would be feasible.  If not we could work out a process for manual placement but it'd be best to know if we have to go that route sooner rather than later.

[2018-05-23 18:45] drmyers1 commented on #63
@labboy0276 i cleared the cache on the dev.  When I reorder and save, I get different results every time.  The order changes of all my links and links seem to disappear and then reappear.  In the All Quick Links view I only have two links.  I have more links in the My Quick Links view.  My username has admin, employee and student.  I am including a screenshot of both views.
![screen shot 2018-05-2

[2018-05-23 18:50] labboy0276 commented on #81
I ended up using the config_ignore module.  I set this to ignore all config that starts with block.block, aka all custom blocks.  There were 2 custom blocks in config already that will need to be recreated again into the DB.  @rjbain @drmyers1

[2018-05-23 18:52] labboy0276 commented on #63
That is odd @drmyers1 let me make make sure all the code is there

[2018-05-23 19:13] labboy0276 commented on #63
I shared this screencast in slack: http://www.screencast.com/t/aLztyoVua4

[2018-05-23 20:04] drmyers1 commented on #63
@labboy0276 i will test this out again with @nicholas-kebbas

[2018-05-23 21:11] labboy0276 commented on #63
@drmyers1 that is really weird.  let me play around with this more.  When i tested this locally, I did it with multiple users and it all worked great.  Now it seems to hate us on dev

[2018-05-23 21:26] labboy0276 commented on #63
@drmyers1 I think I know.  It is Pantheon blocking a $_GET request I bet.  This all works gloriously locally.  When I pulled down the DB your stuff was ok.

[2018-05-23 22:00] drmyers1 commented on #63
@labboy0276 is there a way to stop getting blocked?

[2018-05-23 22:36] drmyers1 commented on #66
@labboy0276 i think something changed because the How Do I page now has the list comma separated, instead of being on separate line.
http://dev-dgreat.pantheonsite.io/its/how-do-i

Also i noticed that the service details dont have all the fields yet (Title, Service Description, Policies, How Do I, Training, and Audience).  Also it should not display the synonyms in the details view. Synonyms shoul

[2018-05-23 22:46] labboy0276 commented on #63
@drmyers1 yes, i adjusted the code and some other things to see if that did it.  I moved links around under myself and your account and it seems ok so far.  Curious to see what happens on your end.  Also, what browser are you using?

[2018-05-23 22:47] labboy0276 commented on #66
Odd, somehow all my work got reverted, oy vay @drmyers1

[2018-05-23 22:56] drmyers1 commented on #63
@labboy0276 I am using chrome Version 66.0.3359.139 on a mac.  I can test if you are ready.  Has your code been pushed to dev?

[2018-05-23 23:37] labboy0276 commented on #63
Yeah

On Wed, May 23, 2018 at 6:56 PM drmyers1 <notifications@github.com> wrote:

--
Sent from my iPhone

John Ouellet
Sales Engineering Manager
415-470-3076
https://thinktandem.io/

[2018-05-24 13:55] labboy0276 commented on #66
@drmyers1 I added back in all the config that got wiped out, should be ok now.

[2018-05-24 19:28] dustinleblanc commented on #82
Notes from meetings today:
* Change coming mid-june for USF CAS setup
* checkout `cas_attributes` module
* Roles will need to be `lower_snake_case` (maybe change these in migrations)
* 5.2.4
* Current plan is to run CAS server locally, need to get that setup in Lando.

[2018-05-24 20:07] nicholas-kebbas commented on #81
@labboy0276 Is this on master yet John or a diff multidev?

[2018-05-24 20:08] labboy0276 commented on #81
@nicholas-kebbas yeah, it is on dev

[2018-05-24 20:14] drmyers1 commented on #63
@labboy0276

i noticed that the reorder is different between the My Quick Links and All Quick Links. They should be the same.  If someone reorders on either view users should see the same order on each view.  I also noticed that if non-administrators unflag something you can never add it back.  It does not show up in the All Quick Links view.  I do see that administrators can see the links if some

[2018-05-24 20:53] drmyers1 commented on #63
@labboy0276

Here is the story for the Top Quick links.  This is a common scenario.  A student logs in for the first time and see their list of quick links.  The Top Quick Links are at the top of the list.  The student then reorders their list, including Top Quick Links in the order that works best for them.  The link should then stay in that order.

So the Top Link is at the top before any reorde

[2018-05-25 14:27] labboy0276 commented on #63
@drmyers1 OK Try it now I made those adjustments / fixes

[2018-05-25 18:07] drmyers1 commented on #63
@labboy0276 on the All Quick Links view i am only able to one result per page.  Can you change back to original layout?  Not able to test between the two views.

[2018-05-25 18:08] drmyers1 commented on #66
@labboy0276 i am still not seeing the changes reflected on dev.

[2018-05-25 18:20] labboy0276 commented on #63
@drmyers1 the pagination is mess up, let me see if i can fix this real quick

[2018-05-25 19:16] labboy0276 commented on #66
@drmyers1 looks like it was an issue with the config workflow on usf's end, rob will address it with the team

[2018-05-25 21:15] rjbain commented on #66
@labboy0276 I'm sorry about the workflow issues. We should be straightened out now. Can we push forward with this?

[2018-05-25 23:18] labboy0276 commented on #66
@drmyers1 yes this should be back on dev now

[2018-05-29 14:36] labboy0276 commented on #63
OK this is a fun issue @drmyers1 I have to change how i am filtering out the duplicates.  Right now it is filtering out duplicates per page and not the whole view.  This is causing the weird pagination issues.  The way around this is to turn off pagination, but the view becomes super slow.

I think I need to create a custom contextual filter and do it that way.  I will try and have this done by th

[2018-05-29 16:40] drmyers1 commented on #66
@labboy0276 it does not look like the changes are back for the service catalog.  I also dont see the changes on the service details.  On the How Do I page i get the following error:
The website encountered an unexpected error. Please try again later.

Here is a summary of the changes:
The How Do I page should have the how do i's on a separate line, not comma separated.
http://dev-dgreat.pantheonsi

[2018-05-29 16:44] drmyers1 opened #112 "Announcement Tag View"
@rjbain Here are the fields that @tomkhenke would like to see for the announcement tag view.

Title
Subtitle
Pub Date
Teaser
Image (as a thumbnail out to the right like events)

Here is an example link: http://dev-dgreat.pantheonsite.io/taxonomy/term/171

[2018-05-29 18:02] rjbain commented on #66
@labboy0276 It also looks like blocks all the blocks are showing up on all the pages

[2018-05-29 18:11] rjbain commented on #66
@labboy0276 I'm looking through the db logs and wondering if cron could be causing problems?

[2018-05-29 21:37] labboy0276 commented on #66
@rjbain that is odd, sorry was heads down on something

[2018-05-29 21:47] labboy0276 commented on #66
@drmyers1 I fixed the how-do-i page real quick.  I will have to manually redo all this stuff again since something just isnt kosher.

[2018-05-29 22:03] labboy0276 commented on #66
OK @drmyers1 I added the services back in, it is checking the PR now

[2018-05-29 22:11] rjbain commented on #66
@labboy0276 If something isn't kosher we should probably try to figure out what it is. If nobody merged anything into master then could it have been?

[2018-05-29 22:12] labboy0276 commented on #66
I dont think I added back in all the config this last time @rjbain

[2018-05-29 22:58] drmyers1 opened #114 "Contact Box"
@rjbain feedback for the contact box:

http://dev-dgreat.pantheonsite.io/student-life/casa/

Did not include a link to Schedule an Appointment but the button displayed anyways.  Also the other contact boxes on the page have the button as well and all of them go to the CASA home page, even though nothing has been configured.

When adding a contact box block to the block layout.  You need to include

[2018-05-29 23:00] drmyers1 opened #115 "Basic Pages"
Page titles are not showing up for basic pages.  See the following example:
http://dev-dgreat.pantheonsite.io/student-life/casa/mission-vision

Because page title will be used for the title of the page, we need to have an administrative title.  It will get really confusing if we have multiple pages using the same name like "About Us."

[2018-05-29 23:45] drmyers1 commented on #66
@labboy0276 should i hold off on testing?  at first glance, i see the top student questions and top fac/staff questions.  I am noticing that the How Do I's are still comma separated and the service details are still missing some of the fields.  Could those changes not have been included with the recent config changes?

[2018-05-30 01:45] labboy0276 commented on #66
@drmyers1 maybe it didnt hit yet?  looks ok now:

![service](https://user-images.githubusercontent.com/5560907/40694236-9ea7764e-6389-11e8-88b9-5f6fb8497d58.jpg)

[2018-05-30 01:46] labboy0276 commented on #66
also, on the services @drmyers1 I need to remigrate the content for it to be correct

[2018-05-30 16:32] drmyers1 opened #116 "WSYIWYG ISSUES"
There are problems with the different views in the editor.  The views dont provide the expected behavior.  For example Full HTML does not show the code.  It is more of a design view.

@sozguzer needs recommendations for creating style CKEditor.

[2018-05-30 16:57] drmyers1 commented on #116
@tomkhenke recommends that we update the libraries. @rjbain to check is there is an update to the libraries.

[2018-05-31 16:46] drmyers1 opened #118 "Footer for Non-Authenticated Users"
The footer does not display for non authenticated users.

http://dev-dgreat.pantheonsite.io/student-life/casa

[2018-05-31 16:49] drmyers1 commented on #115
@tomkhenke would like to see if we can create a toggle to show the title or hide for a website homepage.

-one concern is that we need the H1 for the page.

[2018-05-31 16:51] drmyers1 commented on #115
@tomkhenke would like to see if we can create a toggle to show the title or hide for a website homepage.

-one concern is that we need the H1 for the page name.  Do we include in the code only for titles that are hidden?

[2018-05-31 20:19] labboy0276 commented on #63
@drmyers1 I just merged the PR, if you want to give it 30 mins or so until it merges and try things out

[2018-05-31 22:37] drmyers1 commented on #63
@labboy0276 i tested the quick links and it is still not working as expected.  Here is my feedback:

I removed my access as admin to test a user that has the student and employee role.  I was able to reorder the links from the My Quick Apps and it behaved as expected .  When i went to the All Quick Links, the list was almost identical but it is missing Policies on the first page.  I did however se

[2018-05-31 22:54] labboy0276 commented on #63
@drmyers1 at this point I have exhausted all options to get this to work as you want.  The only thing I can think of is to revert some of the work I did with aggregation and manually remove the duplicates in the pre render like before.

That was the closest we got but the pagination is busted.  The only view that really needs pagenation is the admin version of the view of quick links.  Which may j

[2018-05-31 23:47] labboy0276 commented on #63
@drmyers1 I reverted some stuff and tweaked a few others.  I am waiting for the pr to merge and lets see if this is better.

[2018-05-31 23:49] sozguzer commented on #114
Issues I've found:
1)  Email/phone/fax need a wrapper around them to give a margin-bottom and be able to make that section two column on tablet. (might want to put one around social media buttons too)

2)  Google Plus and Tumblr class names are written wrong so they don't show correctly. Correct ones are .googleplus and .tumblr

3)  fax number doesn't show up. Address have br tags because address

[2018-05-31 23:52] sozguzer commented on #116
Need to figure out if we can add a div wrapper to p tags to make them two column without js. The article example I found uses js.
http://drupalsun.com/glassdimly/2017/08/09/add-multi-element-wrapper-class-ckeditor-drupal-8

[2018-05-31 23:52] drmyers1 commented on #114
@sozguzer thank you for additional feedback.  @rjbain i moved this to the current sprint column.

[2018-05-31 23:56] drmyers1 commented on #116
@sozguzer for the two columns, dont we just use the two column paragraph option?  Here is one page I set up as an example.

[2018-06-01 00:33] labboy0276 commented on #63
@drmyers1 ok it made it back over to the dev instance

[2018-06-01 13:47] drmyers1 commented on #63
@labboy0276 Thank you for working on this.  Here is my feedback.

- As an administrator I was able to add a new quick
- I set the link as a priority link
- I added it to the default list for employees.

Logged in as a user with the employee and student role

- I was able to see the list of My Quick Apps, including the new default quick link that was added
- The new default link was in alpha order.

[2018-06-01 14:28] drmyers1 commented on #64
@labboy0276 Here is my feedback for the favorites.

- As an administrator I was able to add a new favorite
- I added it to the default list for employees.

Logged in as a user with the employee and student role

- I was able to see the list of My Favorite Apps, including the new default quick link that was added
- The new default app was in alpha order.
- I was able to reorder the quick links seve

[2018-06-01 19:51] rjbain commented on #81
@labboy0276 I'm not sure what the issue is, but when I create a new branch and pull down the db, I'm getting duplicate blocks on the default page (/). There's should be one view/block with a list of announcements there, but I have 3 on my local site. Any idea what could be causing this? Thanks.

[2018-06-01 20:06] drmyers1 commented on #66
@labboy0276 here is my feedback for the service catalog:

How Do I
- I see the How Do I listing is correct.
- Can we please have the How Do I links open in a new window

Application Services
- Did a search for the term "Banner" and get no results
- "Banner" is both in one of the titles and in the synonym listing
- I searched again using the term "Training" and I do see results
- The service detail

[2018-06-01 21:20] sozguzer commented on #114
Duplicate id in Contact box code. 1st and 3rd div has the same id "block-myusf-contactbox":

<aside class="section" role="complementary">
<div data-quickedit-entity-id="block_content/15" id="block-myusf-contactbox" class="contextual-region settings-tray-editable" data-drupal-settingstray="editable" data-quickedit-entity-instance-id="0">
    <div data-contextual-id="block:block=casacontactbox:has_o

[2018-06-03 23:13] labboy0276 commented on #66
@drmyers1 you forgot to set the text format on the body, I fixed it now it shows up correctly.  I need to re-import all the node content on the site regardless as the body formats didn't map right.

As far as the search goes I am at a loss because it looks to be setup correctly.  May have someone else take a look at it.

The regressions on the other items are due to the config workflow sadness tha

[2018-06-04 14:54] labboy0276 commented on #63
@drmyers1 I am working on these issues.  The flagging problem is a little hard to solve.  I can't get the current weight from the view form within the entity hook that flags the row.  I tried a bunch of things to no avail.  So it is impossible to have it stay on the same row when it is flagged in the all view.

The only thing I can suggest for both the flagging and adding a new quick link is to ad

[2018-06-04 16:05] rjbain commented on #66
@labboy0276 are you saying that your config got wiped out again?

[2018-06-04 16:54] drmyers1 commented on #63
@labboy0276 i think adding the flagged pages and the new quick links to the bottom of the view should work.

[2018-06-04 17:31] labboy0276 commented on #66
@rjbain nope, I was just saying that things that were there and then arent were because of that.  I probably missed a thing or two redoing them.

[2018-06-04 18:07] sozguzer opened #122 "Home page tiles"
Looks like Twitter tile is not pulling in the images even if it has one. Ex: https://twitter.com/usfca/status/1001506006642446336 comes in as text only.

[2018-06-04 18:08] drmyers1 commented on #66
@labboy0276 I have been testing with application services that were initially imported.  Is there not a way to apply a default text format for the body content or will that always be the case for any new application service that is added?

I dont see the title and audience displaying on the details view of any application.  Can we add those in?
http://dev-dgreat.pantheonsite.io/node/13114

On the

[2018-06-04 18:10] sozguzer commented on #122
Also Tom said News feed is pulling in the wrong title.
Ex article: https://www.usfca.edu/management/news/usf-chinese-business-studies-initiative-global-trade-and-technology

Title pulled says "SOM - News - Chinese Business Studies Initiative Changing the World through Global Trade and Technology"

[2018-06-04 18:15] drmyers1 commented on #114
@rjbain is there a way to confirm if it is a config_ignore setup issue?

[2018-06-04 18:29] rjbain commented on #114
@drmyers1 I see them now. After some more testing, it looks like it's working, but I needed to clear the cache to see the changes.

[2018-06-04 18:35] drmyers1 commented on #122
@sozguzer i dont see that we pull in images on the marking tweets.
https://www.usfca.edu/admission/undergraduate

I would assume that would do the same for myUSF and not add the images to the tweets.  @tomkhenke can you confirm?

[2018-06-04 18:37] drmyers1 commented on #114
@rjbain that is good news.  Can you add in the changes that @sozguzer has listed above?

[2018-06-04 18:59] tomkhenke commented on #122
No we do pull the images into the twitter nodes on usfca.edu, they just
aren't used for most of the output tiles on the site. But the content comes
into the node if it exists.

On myUSF we'd like to expose the twitter image if there is one for a post.
Same format as Instagram with a photo and the tweet below, but a different
colored tile. If there is no image with the node, then the tile needs to

[2018-06-06 15:51] drmyers1 commented on #63
@labboy0276 how are things going?  any updates?

[2018-06-06 16:57] labboy0276 commented on #63
@drmyers1 I will be working on this tomorrow for you and finishing it up

[2018-06-06 17:34] drmyers1 commented on #114
@sozguzer can you please provide any notes on your QA so that we can confirm the work is complete?

@rjbain we may have to look at more granular caching but I will add to the list to discuss as a team.

[2018-06-06 22:10] drmyers1 opened #126 "CAS Exposed Login Box"
Web Services Team to explore options for having an exposed login box on myUSF Homepage with ITS. This will involve passing username and password from myUSF to Sailpoint

[2018-06-06 22:12] drmyers1 opened #127 "Quick Links and Favorites on Dashboard"
Pull in Quick Links and Favorite Apps into dashboard

[2018-06-06 22:40] drmyers1 opened #128 "Announcements - Public View"
Create the ability to show announcements to all non authenticated visitors

[2018-06-07 14:32] labboy0276 commented on #63
@drmyers1 I finished all of the QA tasks.  I pushed it to our PR and @reynoldsalec and I are going to check this before you do.

One thing that I could not figure out so it will be a little different is the all quick links view for admins.  Since admins see every quick link (and there are thousands) I couldn't get it to comply with what we built.  So weight and ordering do not apply to it.  On the

[2018-06-07 14:42] labboy0276 commented on #66
@drmyers1 When I remigrate the content, it will fix the default text format issue.

For the title, it is a block, they did page title weird in D8.  So that needs to be setup tertiary to this task.  I fixed the audience though.

I dont see the Digital Education indentation any longer, maybe it got fixed?

I fixed the alpha sort on the views as well.

[2018-06-07 15:35] drmyers1 commented on #66
@labboy0276 i will take a look.

[2018-06-07 15:37] drmyers1 commented on #64
@labboy0276 were you able to correct the favorite issues? will you and @reynoldsalec be testing this as well?

[2018-06-07 15:38] drmyers1 commented on #63
@labboy0276 sounds good on the testing.  I will take a look once i hear from you and @reynoldsalec

[2018-06-07 16:01] drmyers1 commented on #66
@labboy0276 It looks like Digital Education only displays when you are logged into Drupal.  I see that the text is still indented.  I am attaching a screenshot.  Tested on mac using chrome, firefox, and safari.  All browsers show the indent.  This should display without having to be logged in.
![screen shot 2018-06-07 at 8 48 25 am](https://user-images.githubusercontent.com/37413213/41111502-fabe7

[2018-06-07 16:02] labboy0276 commented on #64
@drmyers1 It flags and shows up and I fixed the titles.  It does throw a non flagged item on top.  Not sure why on that one

[2018-06-07 16:12] labboy0276 commented on #66
@drmyers1 ah ok, the digital education node isn't published that is why that is happening.

[2018-06-07 17:37] drmyers1 commented on #115
@rjbain to create display title field to use for page title and the original title will become admin title.

[2018-06-07 21:10] drmyers1 commented on #118
@rjbain pulling this out of current sprint and will reschedule

[2018-06-07 21:17] drmyers1 commented on #116
Follow up from original request.
- Basic HTML should read WYSIWYG
- Full HTML should show code view, not design view

Can this be changed?

[2018-06-07 21:39] drmyers1 commented on #127
[myusf-dashboard.pdf](https://github.com/rjbain/dgreat/files/2082141/myusf-dashboard.pdf)

[2018-06-07 21:40] drmyers1 commented on #127
Above pdf is the layout for the dashboard content.

[2018-06-07 21:49] rjbain commented on #115
@drmyers1 I added the new Display Title field to this branch, and adjusted the migration so it gets populated with the Title from the old site. I'm going to edit the basic page template to pull in the Display Title as an h1 next:
https://pr-disp-dgreat.pantheonsite.io/node/139676/edit

[2018-06-07 21:50] drmyers1 opened #131 "Webforms"
Can we hide the option to build webforms from Admin/Content?

Webforms need to be removed from the search/content types and from Add Content

Form are built a different way in Drupal 8 and will be a confusing user experience.

[2018-06-07 21:57] drmyers1 commented on #115
@rjbain the display title looks good within the Basic page edit screen.

[2018-06-07 22:01] drmyers1 opened #132 "Setup and Configure myUSF Search"
We need to set up and configure google search on myUSF.  The search will need to have the same options as on the current myUSF.  Search content only on myUSF or Search both myUSF and the Marketing site.

[2018-06-07 22:07] drmyers1 opened #133 "Microsite Quicklinks"
We need to create a quicklink custom block type to display microsite quicklinks.

[2018-06-07 22:49] rjbain commented on #115
@drmyers1 I created a template to pull in the new Display Title as an h1 on the front end. I also added some sass that Selin sent me. I think it's ready to merge. Could you have a look? Thanks.

[2018-06-07 22:53] sozguzer commented on #114
Issue 2 is still an issue. Google Plus and Tumblr class names are written wrong so they don't show correctly. Correct ones are .googleplus and .tumblr
PS: In the dropdown where you select the social media buttons, Tumblr is spelled Tumbler

[2018-06-07 22:56] drmyers1 commented on #114
@sozguzer thank you for the feedback.  Moving to new projects until we can get this rescheduled.

[2018-06-07 23:16] drmyers1 commented on #115
@rjbain this looks good.  Was able to edit and see title on view.

[2018-06-07 23:22] drmyers1 opened #134 "Image Carousel/Slider"
@rjbain we got feedback from @tomkhenke and he noted that the paragraph image carousel/slider does not seem to work.  @tomkhenke said there is a bootstrap version that seems more stable.  Is it possible to replace the paragraph sider and use the bootstrap?  @tomkhenke let me know if I missed anything.  @rjbain Can you provide your thoughts on this?

[2018-06-07 23:29] rjbain commented on #114
@drmyers1 drupal isn't letting me change those values because there's data already in the db for that field. I'll have to think about how to deal with it.

[2018-06-07 23:31] rjbain commented on #115
@drmyers1 this is on dev now.

[2018-06-08 16:29] drmyers1 opened #136 "School/Collage Dashboard Content"
We need to have the ability to feed in school specific content based on school/college roles.

[2018-06-08 16:55] rjbain commented on #133
@drmyers1 Here's a link to the quick links block type I created. Could you take a look? Thanks.
https://pr-133-dgreat.pantheonsite.io/student-life/casa

[2018-06-08 18:17] reynoldsalec commented on #63
Ok, I've created some QA steps for future reference on the Wiki representing the steps I went through. Those were primarily based off your feedback @drmyers1. These steps already helped catch one issue, and would be a good starting point for automated testing (hint hint): https://github.com/rjbain/dgreat/wiki/Favorite---Quick-Links

After @labboy0276 kindly fixed an issue, the features pass those

[2018-06-08 20:28] drmyers1 commented on #64
@labboy0276 @reynoldsalec two things i see when testing favorites:

http://pr-tandem-o-dgreat.pantheonsite.io/

1. the title of the favorites should link to the URL specified in the favorite rather than the node on.  This should be for both the My Apps and All Favorite Apps views.

2. when a favorite link is unflagged it is removed from the My Apps view, which is expected but it is also removed fr

[2018-06-08 20:31] drmyers1 commented on #63
@labboy0276 @reynoldsalec two things i see when testing quick links:

http://pr-tandem-o-dgreat.pantheonsite.io/

1. the title of the quick link should link to the URL specified in the favorite rather than the node.  It links correctly on the All Quick Apps view but not the My Quick links.

2. when a quick link is unflagged it is removed from the My Quick Links view, which is expected but it is al

[2018-06-08 20:42] labboy0276 commented on #63
@drmyers1 That is odd, I know I fixed the url and title issue.

Also, When I unflag an item it shows up just fine on the all quick links view.  Can you provide steps to reproduce.  I unflagged about 4 links user the test account and it worked just fine.

[2018-06-08 20:47] labboy0276 commented on #64
@drmyers1 I just pushed up the title and url fixes again.

[2018-06-08 22:17] drmyers1 commented on #63
@labboy0276 @reynoldsalec I had @nicholas-kebbas try.  He removed his admin access and only had the student and employee role.  He went in a unflagged academic calendar and saved.  In the all view he could not longer find the link.  He then try to unflagged the academic request forms.  Again he saved and in the All View the link was not there.

I tested again (non administrator) and the first time

[2018-06-08 22:29] drmyers1 commented on #63
@labboy0276 @reynoldsalec i took video of me unflagging two links.  It wont let me upload here.  Let me try slack.

[2018-06-08 22:33] drmyers1 commented on #63
https://usf-web-services.slack.com/files/U12M5CWP2/FB4DS8U4B/zoom_0.mp4

[2018-06-08 22:55] drmyers1 commented on #133
@rjbain i tried to access the branch but i get a 404.  was this merged already?

[2018-06-08 22:56] rjbain commented on #133
@drmyers1 yes, it's on dev now:
http://dev-dgreat.pantheonsite.io/student-life/casa

[2018-06-11 14:05] labboy0276 commented on #63
OK @drmyers1 @reynoldsalec I pushed up the fix for the unflag and save issue

[2018-06-11 15:44] drmyers1 commented on #63
@labboy0276 should i test on tandem or dev?

[2018-06-11 15:45] drmyers1 commented on #66
@labboy0276 @reynoldsalec any updates on the search?

[2018-06-11 16:55] drmyers1 commented on #63
@labboy0276 @reynoldsalec i tested on http://pr-tandem-o-dgreat.pantheonsite.io/ and was flag and unflag and go between the two views for both the quick links and favorites.  I am going to ask @nicholas-kebbas to test so that we can get a second look on this.

[2018-06-11 17:56] sozguzer commented on #134
Hi Rob,
Michael used the code from the bootstrap document (https://getbootstrap.com/docs/4.0/components/carousel/) to create calendar and homepage carousels:
<div class="carousel-item">
  <img src="..." alt="...">
  <div class="carousel-caption d-none d-md-block">
    <h5>...</h5>
    <p>...</p>
  </div>
</div>

That seems to work well. The paragraphs one is missing the previous and next buttons.

[2018-06-11 20:16] nicholas-kebbas commented on #63
@drmyers1 @labboy0276

Only thing I found was if you select "Save" on the "My Quick Links" page when there are no quick links, you get a “The website encountered an unexpected error. Please try again later” error page

[2018-06-11 21:00] labboy0276 commented on #63
@nicholas-kebbas we will will have to remove that save somehow then. However, how do you arrive at no quick links?  Everyone should be part of a group which has defaults.

[2018-06-11 21:50] drmyers1 commented on #63
@labboy0276 @nicholas-kebbas if i had to pick between the save and the error with no quick links.  I would keep the save.  I dont see a lot of people removing all their quick links.  @nicholas-kebbas what are your thoughts?

[2018-06-11 22:13] nicholas-kebbas commented on #63
@labboy0276 @drmyers1 Just if the user chooses to remove them all manually.  David and I spoke, though and we don't need to address this since this it's such an unusual use case.

[2018-06-12 16:19] drmyers1 commented on #80
@dustinleblanc thank you again for your help with this.  @rjbain was able to successfully import web content and retain the node id on his multidev.  He is currently running another test on a new multidev and then connect with you about adding the content to Tandem2.

I have been spot checking the user import.  One thing I have noticed is that our current version of myUSF has Display Name in the p

[2018-06-12 16:21] drmyers1 opened #140 "Web Content Import"
@rjbain this is the card for importing content into your new multidev and then working with Dustin to merge and test the results in Tandem2.

[2018-06-12 17:30] drmyers1 commented on #80
@dustinleblanc i have been spot checking webforms.  It looks like most of the date migrated over.  I do see that if a taken is being used it doesn't seem to have migrated the brackets.  Here is an example where the form will pre-populate username and email for logging in users.  If I add in the brackets it works correctly.  Not sure how many forms have these tokens.  Is there a way to include the

[2018-06-12 18:41] drmyers1 commented on #80
@dustinleblanc I also see the alias for the form was not included with the migration.  The above mentioned form (http://pr-tandem2-dgreat.pantheonsite.io/form/webform-6817) has the following alias on production.

https://myusf.usfca.edu/its/contact-us

[2018-06-13 16:16] drmyers1 commented on #66
@labboy0276 @reynoldsalec just want to check on the status of search.  any updates?  @labboy0276 do you plan on merging all other service catalog changes when the search is done?

[2018-06-13 16:21] drmyers1 commented on #63
@labboy0276 has this code been merged?

[2018-06-13 16:49] drmyers1 opened #142 "Global Nav"
We need to make sure that the global nav is showing on all pages.  Currently only show on select pages.

[2018-06-13 17:01] drmyers1 opened #143 "Test Show Show/Hide for Sub Directory Sites"
We need to see how we can hide quicklinks from the websites that are under the parent directory.

[2018-06-13 17:10] sozguzer commented on #118
This is what Micheal had said:
mjuarez2 [1:40 PM] May 30th
I think I understand now.
The footer is a menu type object.
Officially, there are no links in this menu, so it assumes it should not display
Which makes sense.
Actually, in the footer, all the links are hard coded.
So, I moved the HTML content to a simple block type element, created a template in blocks, and placed it on the footer, now it

[2018-06-13 17:29] sozguzer commented on #114
Another issues Tom and I found:
1) If you don't fill out Address Box 2, the br tags before and after it is still there so there is too much space between Address Box 1 and 3.
2) Hours of Operation should have two separate fields: date and hrs so, as in some cases, we don't have just the AM or PM going to the next line
<img width="250" alt="screen shot 2018-06-13 at 10 26 42 am" src="https://user-i

[2018-06-13 17:31] drmyers1 commented on #118
@sozguzer thanks for including Michael's notes.

[2018-06-13 17:32] drmyers1 commented on #114
@sozguzer thanks for the feedback.  We will get this scheduled.

[2018-06-13 17:38] labboy0276 commented on #63
@drmyers1 not yet, there are a bunch of merge conflicts that need to get resolved

[2018-06-13 17:41] drmyers1 commented on #63
@labboy0276 thanks for the information.

[2018-06-13 18:47] rjbain commented on #140
@drmyers1 I deleted all the nodes on pr-tandem2 and now we just need Dustin to migrate the users. when that's done, I'll do the node migration and we'll continue from there.

[2018-06-13 19:59] drmyers1 commented on #80
@dustinleblanc

@rjbain confirmed that he deleted all the nodes on pr-tandem2.  Can we schedule importing the users?  Do you have an estimate of when this can be completed?

[2018-06-13 20:08] labboy0276 commented on #63
@drmyers1 I resolved the conflicts and merged them into master

[2018-06-13 20:46] drmyers1 commented on #63
@labboy0276 i tested the Quick Links and I ran into problems.  I added a quick link and it never showed up in my list.  I unflagged a quick links, then saved and i could not find in the All Quick Links view.  I also see a quick link that is in the My Quick Links view but does not show up in the All Quick Links view.  Any thoughts on what could have happened?

[2018-06-13 20:57] labboy0276 commented on #63
@drmyers1 the pr merge hasnt hit the dev branch yet

[2018-06-13 21:04] drmyers1 commented on #63
@labboy0276 thanks!  I will wait and test later.

[2018-06-13 21:18] labboy0276 commented on #63
ok @drmyers1 you can test now

[2018-06-13 21:56] drmyers1 commented on #63
@labboy0276 thanks.  I will take a look and let you know if I have any feedback.

[2018-06-14 06:43] reynoldsalec commented on #66
@labboy0276 I had a chance to look at this and think it's due to the search index not being configured for case sensitivity correctly. I made a simple test index to try it out, along with a test view on the Dev site (you should obviously nuke this once you deploy the changes in your Block View): http://dev-dgreat.pantheonsite.io/admin/structure/views/view/test_view

Search for "banner" on that Vie

[2018-06-14 12:03] labboy0276 commented on #66
@drmyers1 @reynoldsalec yup that did it, good catch @reynoldsalec .  I am pushing this up to dev now

[2018-06-14 15:46] drmyers1 commented on #66
@labboy0276 @reynoldsalec the search is working as expected on dev.  Thank you!

[2018-06-14 15:50] drmyers1 commented on #63
@labboy0276 @reynoldsalec so for my testing on the quick links/favorites shows the functionality is working.  I am waiting for some additional feedback from another team member and will post as soon as I hear back.

[2018-06-15 00:01] drmyers1 commented on #63
@labboy0276 @reynoldsalec
I heard back from Marlene and she confirmed that the functionality worked for her.  Now that the tool is stable, I am curious to see what is possible for us to customize the styling for the tool, without impacting the functionality.

- It seems like it would be straightforward for us to edit labels, such as change "My Quick Apps" to "My Links" or something like that.  Can

[2018-06-15 13:23] labboy0276 commented on #63
@drmyers1

1. The labels are in the view.  You would have to edit them under the menu settings in the view and then export the config, push it up.
2. It is in the view, just change the labels of the fields and it will change the header.
3. You would have to hide it with CSS.
4. You would need to install something like font awesome and then add the <i> html code here: /admin/structure/flags/manage/

[2018-06-15 14:35] dustinleblanc commented on #80
Punch list of things to do

- [ ] Review that the user display names get migrated, I've stubbed this but haven't confirmed it works
- [ ] Review the authmap migration to make sure it will actually allow CAS login (see #82)
- [ ] Aliases weren't part of the migration at all, per @drmyers1 we should add them
- [ ] See #80#issuecomment-396670877, I don't know how this works, can we do some kind of ma

[2018-06-15 15:59] drmyers1 commented on #80
@dustinleblanc should i test these on tandem2?

[2018-06-15 16:13] drmyers1 commented on #64
@labboy0276

- would it be possible to hide the combine fields filter, field_category, and group audience from users?

I will work with the team to adjust the labels and styles.

[2018-06-15 16:28] drmyers1 commented on #127
@rjbain i just spoke with @tomkhenke and he would like the announcement below the events slider.  So you would have the two columns at the top for the Quick Links and Favorites, then the row would be one column that spans the two column width for the event slider.  Announcement row would also have one columns that spans the same width as the events but has the list view of the announcements.

Let

[2018-06-15 16:31] rjbain commented on #127
Thank you @drmyers1!

[2018-06-15 16:41] drmyers1 commented on #63
@labboy0276 I was also curious about the icon used for moving the order.  Currently it looks like a ".1".  Would it be substitute that out with the standard icon or something else?

[2018-06-15 17:29] nicholas-kebbas opened #146 "Search Box Field Appear on Click"
@mjuarez2 Please take a look at making the search field toggleable

[2018-06-15 17:33] nicholas-kebbas opened #147 "Login Button Not Working"
@mjuarez2 Have login button actually log in user (direct to CAS login once Tandem has pushed that functionality live).

[2018-06-15 17:56] rjbain commented on #127
@drmyers1 I added the fav and quick links, but the fav links are hidden for some reason (Selin is looking into it): https://pr-stash-dgreat.pantheonsite.io/

[2018-06-15 19:36] drmyers1 commented on #127
@rjbain it looks like your push crashed the site

[2018-06-15 19:39] drmyers1 commented on #127
@rjbain looks like it is back up. ty

[2018-06-15 20:37] rjbain commented on #127
@drmyers1 I'm back. I got the table header to show up for fav links. I should probably add some links to the bottom of the list like quick links, right?

[2018-06-15 21:03] drmyers1 commented on #127
@rjbain i will take a look at your change.  Let me check with Marlene on the links.  Not sure how Favorites are going to work with the new IAM tool.

[2018-06-15 23:40] nicholas-kebbas opened #149 "Dashboard Privacy"
Need to make dashboard private. The entire page is currently viewable by non-logged in users.

[2018-06-18 13:47] labboy0276 commented on #63
@drmyers1 You just need to adjust the css to see the full icon, it is there

[2018-06-18 13:55] labboy0276 commented on #64
@drmyers1 I removed those exposed filters from the view, pushing this up now

[2018-06-18 16:11] reynoldsalec opened #152 "Question Data Model + Data Entry"
**User Story**

**Technical Details**

- [ ] Create a Campaign node type (may use a custom entity if there are advantages)
- [ ] Campaign must have a Salesforce label on it (manual entry)
- [ ] Create Question paragraphs that are attached to the Campaign
- [ ] Questions _seem_ to be limited to multiple select (on a scale from 1 to 5 type questions)

**Workflow**

1. Admin creates a Campaign "node"

[2018-06-18 16:18] reynoldsalec opened #153 "Exporting Question Responses to Informatica"
**User Story**

**Technical Details**

- [ ] Expose question response entity (webform answers?) to Informatica via a REST endpoint
- USF IT will pole for data on our endpoint. No format has been specified for the data.

[2018-06-18 16:19] reynoldsalec commented on #153
@drmyers1 could you find out if there's a hard-and-fast requirement for formatting on this API we'll be providing? Otherwise we'll propose a format.

[2018-06-18 16:29] reynoldsalec opened #154 "Survey Popup"
**User Story**

**Technical Data**

**Workflow**

1. Admin selects start and end dates for presenting the survey (similar to the way @rjbain setup the Address Change)
1. Student logs in (probably at the beginning of semester after "census date", which is when the student has finalized their schedule), if they're within the specified start date, they'll see the survey.
2. The Survey will only prese

[2018-06-18 16:32] reynoldsalec commented on #154
@drmyer1 we will need to get in touch with the IT group to see how we can find which students have been at USF 4 semesters or less.

[2018-06-18 16:42] drmyers1 commented on #63
@labboy0276 thank you for the information about the full icon.

[2018-06-18 17:37] reynoldsalec commented on #154
@labboy0276 do you think it would be easiest to set the start/stop date for the survey on the individual campaign?

@drmyers1 I'm guessing the same people who create the Campaign also would be entering the stop/start dates?

[2018-06-18 17:38] drmyers1 commented on #80
@dustinleblanc welcome back.  Hope everything is well.  Do you have an estimate on when we will be able to test the migration with @rjbain?  Please let me know if you need anything from us.

[2018-06-18 18:15] rjbain commented on #133
@drmyers1 I added the css class and now the quick links are being styled. I merged it to dev: http://dev-dgreat.pantheonsite.io/student-life/casa

[2018-06-18 18:20] nicholas-kebbas commented on #118
Not showing up anywhere currently

[2018-06-18 18:32] nicholas-kebbas opened #155 "Sharing Content Between Sites Feature"
Need to be able to share (import) Faculty Profiles from Marketing to myUSF.  May also need this feature with basic pages.

[2018-06-18 18:38] nicholas-kebbas commented on #155
MJ's Comments:

All or nothing with these imports, so for faculty details that's easy. Can pull in all of them

Can add a checkbox on the content type level and check which ones to import.

Styles will be an issue, need to have those same styles in myUSF.

[2018-06-18 18:43] nicholas-kebbas commented on #155
Examples:

Leadership Team Page
Online Programs Type of Content

Nick to put together list of nodes to share with Michael

[2018-06-18 19:15] nicholas-kebbas opened #156 "USF Blogs Feeds"
Need to build feeds that will import and display myUSF blog content

[2018-06-18 22:14] drmyers1 opened #158 "Event Search"
Searching is not working right now.

[2018-06-18 23:36] nicholas-kebbas opened #159 "Service Page Adjustments"
- Need a way to get back to service catalog (breadcrumb, sub navigation).
- Need audience removed from bottom of page

[2018-06-19 00:08] nicholas-kebbas commented on #116
Editor wraps p tag automatically around a tag/images. Problem in sidebar callouts on dashboard/homepage

[2018-06-19 15:56] labboy0276 commented on #152
@reynoldsalec @drmyers1  Entity Questions and Answers isn't what we are looking for.  It is more like Amazon's Q&A.  You can ask question on a specific entity and people can put answers in.  Nifty module, but doesn't fit our use case.

Webform seems to be the best route right now.  D8 version comes with template's as well.  So we can create a form, save it as a template and then use that to spin u

[2018-06-19 15:59] nicholas-kebbas commented on #127
@rjbain @drmyers1 Looks like the "Add Quick Link" link is broken

[2018-06-19 16:12] drmyers1 commented on #64
@labboy0276 Tested the removal of the filters from the view.  Looks good.

[2018-06-19 16:19] drmyers1 commented on #80
@dustinleblanc is there anything you need us to test?

[2018-06-19 16:45] rjbain commented on #136
@drmyers1 I'm running into issues. I first tried using the Block Visibility Group module and ran into this bug: https://www.drupal.org/project/block_visibility_groups/issues/2954482

Then I tried configuring the block directly and noticed there's no visibility by role tab on the configuration screen. There's a bug in core that's causing this, which is fixed in Drupal 8.6-dev: https://www.drupal.or

[2018-06-19 17:14] rjbain commented on #136
@drmyers1 Since this is fixed in an unreleased version of Drupal core, I think we should punt this task considering our time constraints. It should be fairly trivial to do once the bug is fixed. What do you think?

[2018-06-19 19:58] dustinleblanc commented on #80
@drmyers1

Tokens in webforms: http://pr-tandem2-dgreat.pantheonsite.io/form/webform-6817

User with display name: http://pr-tandem2-dgreat.pantheonsite.io/user/35192/edit

@reynoldsalec said you checked in on the aliases, so not including that here.

We should now be all set for @rjbain to test importing all of the data.

[2018-06-19 20:03] dustinleblanc commented on #82
CAS should be working now, tested with dfaculty user. We probably still need to take a look at http://pr-tandem2-dgreat.pantheonsite.io/admin/config/people/cas/attributes to map roles.

[2018-06-19 20:39] drmyers1 commented on #80
@dustinleblanc
the tokens look to be working.

I see the display name in your example.  Will the other users in the system have their username populated once we test another import?  I also see that the CAS username is not populated.  If I compare to our production site.  Users have both the username field and the CAS username field populated with their username.  I have attached a screenshot.
![s

[2018-06-19 20:40] drmyers1 commented on #80
@rjbain can you let @dustinleblanc know if you have any questions about testing the import.

[2018-06-19 21:14] rjbain commented on #136
Good question @nicholas-kebbas. It looks like 8.6 isn't scheduled for release until September 5, 2018. I think we'll need to patch core to work around this problem.

[2018-06-20 16:47] nicholas-kebbas opened #160 "Favorite Apps - Restrict Non-Admins to Not be able to View Preferences, not be able to add favorite app"

[2018-06-20 17:11] nicholas-kebbas opened #161 "Announcement Content Type Updates"
- Remove expiration Date, then move the Created Date to where the expired date field is.
- Remove "Announcement Tags"

[2018-06-20 17:12] nicholas-kebbas opened #162 "Announcement Feed Block"
Want to be able to place a block on different pages with announcement feed. (RSS style)

[2018-06-20 18:32] nicholas-kebbas opened #163 "Menu Recommendation"
Hide Menu Title from Main Nav, make Home title whatever the site is called

[2018-06-20 23:06] nicholas-kebbas commented on #118
Also need to remove "Contact" and "Policies" from footer

[2018-06-20 23:23] nicholas-kebbas opened #164 "Calendar Images PIxelated"
Marlene commented on some images coming into the myUSF Calendar Carousel and being stretched because the image being pulled in is not large enough

[2018-06-21 15:45] drmyers1 commented on #154
@reynoldsalec yes, the same people who create the campaigns would also enter the start/stop dates.

[2018-06-21 18:38] drmyers1 opened #166 "Accordion"
@mjuarez2 There is an html change for the accordions to work properly.  @sozguzer do you have any additional information that you can provide?

[2018-06-21 18:39] drmyers1 opened #167 "WYSIWYG"
Class window gets cut off in the editor and users are not able to see all the class details.  A new theme needs to be added to expand the window.  @sozguzer let us know if missed anything.

[2018-06-21 18:43] drmyers1 opened #168 "Image Caption"
@mjuarez2 i spoke with @tomkhenke and he mentioned that @sozguzer has a caption style but we need to see what it looks like when the a caption is added to the image.  @sozguzer can you confirm that no additional details are needed?

[2018-06-21 18:43] drmyers1 opened #169 "Image Caption"
@mjuarez2 i spoke with @tomkhenke and he mentioned that @sozguzer has a caption style but we need to see what it looks like when the a caption is added to the image.  @sozguzer can you confirm that no additional details are needed?

[2018-06-21 18:49] sozguzer commented on #166
On the marketing site, after the h3 for the accordion title there is a span tag <span class="faq_list_question_symbol"></span>. The diamond-link is attached to that.

If we can add something like <span class="accordion-button"></span> it will solve the problem

EX: https://www.usfca.edu/arts-sciences/graduate-programs/data-science/faqs

[2018-06-21 18:53] sozguzer commented on #167
Michael called it adminimal theme before leaving for vacation. He emailed me about it on May 29th Email subject: Drupal 8 Editor
"I'm thinking the CSS libraries for the wysiwyg would need to be added to the admininal theme, since that is where content is edited. If that's the case, then we'll prolly need to create a custom adminimal theme version, but this might not be too bad if we just need a si

[2018-06-21 18:54] sozguzer commented on #169
I don't think so.

[2018-06-21 22:22] nicholas-kebbas commented on #163
Also explore requiring relative URLs (not absolute) in main menus

[2018-06-21 22:38] nicholas-kebbas opened #170 "Create Block Visibility Groups to add the custom blocks to"
- Quick Links One
- Contact Box One
- Other One

[2018-06-21 22:41] nicholas-kebbas commented on #170
- Also look into filtering module(?) for block layout page before that page gets too absurd

[2018-06-22 16:32] nicholas-kebbas commented on #160
Hide "All Apps" from Favorite Links page

[2018-06-22 17:08] nicholas-kebbas opened #171 "Favorite App and Quick Links Adjustments"
- Change Fav app labeling
- Change Quick links in buttons to "Add New" and "Manage, ideally with a pencil and plus icon

[2018-06-22 19:39] mjuarez2 commented on #166
Discussed with @sozguzer. ATM cannot add tags to paragraphs since these are not done using theme templates.

[2018-06-22 19:41] mjuarez2 commented on #158
This has been fixed

[2018-06-22 21:33] sozguzer commented on #166
For now I'll just have the arrow so it will be ready for training. We can try to figure out something else later

[2018-06-22 22:21] nicholas-kebbas opened #173 "Investigate Methods to Redirect Nodes to Alias"
Nodes are not redirected to alias currently. When accessing node/id directly, the breadcrumb is broken: http://dev-dgreat.pantheonsite.io/node/1036

[2018-06-22 22:36] nicholas-kebbas opened #175 "Block Layout Issues"
Need to come up with a solution on how to restrict the display of menus on pages with nested aliases. For example, /student-life/casa displays the student life menu and quick links, as well as the CASA main menu and quick links, currently.

We want it to only display the CASA Quick Links and Main Menu.

[2018-06-22 22:42] nicholas-kebbas commented on #175
Some solutions here: https://drupal.stackexchange.com/questions/170002/how-to-display-a-block-on-only-the-listed-pages-using-wildcard-and-excluding-sub

[2018-06-22 22:48] nicholas-kebbas commented on #175
This seems to be the best module to fix this issue: https://www.drupal.org/project/block_exclude_pages

[2018-06-22 22:58] rjbain commented on #175
Thanks for finding this @nicholas-kebbas

[2018-06-22 23:24] nicholas-kebbas opened #176 "Breadcrumb "Home" directs to root"
Example: http://dev-dgreat.pantheonsite.io/management

Want breadcrumb to begin at /management, so there would be no Home option

[2018-06-25 22:54] nicholas-kebbas opened #178 "Redirect Module for new myUSF"
- Set to expire after 6 months

[2018-06-26 16:06] drmyers1 commented on #140
@rjbain I was not able to find an example of a page that was part of your import that included links to PDFs.  Is it possible to import more nodes?

Also, it seems like all our test content that was created on dev was also migrated.

I also see that we are pulling in the images into the webpages.  What steps do we need to take to ensure those dont come over with the content scrape?

[2018-06-26 16:08] drmyers1 commented on #80
@dustinleblanc @rjbain I was looking at the pdfs that were migrated and i get a 404 when i try and access.  In the file list is shows the file name and file size but I am not able to view the actual file.  Any ideas on how we can fix?

[2018-06-26 16:13] rjbain commented on #140
@drmyers1 I'm going to do a scrape of 600 pages. I'll update the script to scrub out image references too.  I still don't know why the test content is there. @dustinleblanc I deleted some of the test pages and ran `lando drush cim` to see if they would be recreated and they weren't. I was using a combination of `devel genc --kill` and the `delete_all` module to delete them. Nothing was listsed on

[2018-06-26 18:19] drmyers1 commented on #80
@dustinleblanc @rjbain For webforms, i am seeing that the html field and the checkbox multi-select are not coming over correctly.  The html field is showing the field name and the checkbox is missing all of the values.  Here is an example:  http://pr-tandem4-dgreat.pantheonsite.io/form/webform-132654

This is what is looks like on our current production site.
https://myusf.usfca.edu/content/one-st

[2018-06-26 18:58] drmyers1 commented on #80
@dustinleblanc @rjbain doing some more digging it looks like the two field types listed above are not migrating to the correct field.  The HTML field becomes the Advanced HTML/Text field on the new site.  It should be Basic HTML.  The checkbox multi select is becoming a single checkbox field.  It should get migrated as Checkboxes (plural).

I have set up a basic html field on the form and will set

[2018-06-26 19:24] nicholas-kebbas opened #180 "Updating the site email address to our no-reply address"
Reminder for Rob

[2018-06-26 19:39] dustinleblanc commented on #152
@drmyers1 should the "Each question has a unique identifier that links to Salesforce/Informatica" information be available on the submissions, or is it sufficient for the data to be handled on the form/question definition itself?

[2018-06-26 20:22] nicholas-kebbas opened #181 "Redirect to Dashboard on Login"
Just keeping this on our radar. Will need users to get get redirected to dashboard upon login (right now they go to user/id page

[2018-06-26 20:34] rjbain commented on #140
@drmyers1 After the most recent migration, I don't see the test content from dgreat dev any more.

[2018-06-26 20:36] rjbain commented on #140
[urls-myusf-kill5.txt](https://github.com/rjbain/dgreat/files/2138884/urls-myusf-kill5.txt)
@drmyers1 Here are the urls I scraped.

[2018-06-26 23:17] sozguzer commented on #122
Still pulls SOM news + weird characters in title
<img width="288" alt="screen shot 2018-06-26 at 4 16 36 pm" src="https://user-images.githubusercontent.com/37126629/41944394-765dee6e-795c-11e8-9101-dfad171e6c80.png">

[2018-06-27 19:21] rjbain commented on #140
@drmyers1 I'm using rsync to upload the files. It's working:
http://pr-tandem4-dgreat.pantheonsite.io/admin/content/files?filename=&filemime=application%2Fpdf&status=All

[2018-06-27 19:50] rjbain commented on #140
@drmyers1 All the files should be uploaded now to pr-tandem4

[2018-06-27 19:51] rjbain commented on #140
@drmyers1 I ran into an issue with the user deletions. John is helping to figure out why it's not deleting any more (still have ~19k to delete).

[2018-06-27 21:50] rjbain commented on #140
@drmyers1 I was able to delete the old users using John's module, but it did take hours to finish deleting them.

[2018-06-27 22:56] nicholas-kebbas opened #183 "Need for full-width or 2 column layout"
There are some page types (i.e. academic calendar) that would work better with a 2 column or full-width layout. Need to discuss how to accomplish this.

[2018-06-28 16:51] nicholas-kebbas opened #184 "Fave Apps and Quick Links Padding"
Maybe because of the new classes that are added on dev, but some of the padding looks off after selin pushed to dev. Just making a note here to talk about this.

[2018-06-28 16:53] nicholas-kebbas opened #185 "Accordion Component"
When you expand, it goes below the footer, which stays in place.  We will want to take a look at this.

[2018-06-28 16:55] nicholas-kebbas opened #186 "Connect with OMC writers to adjust text across the site."
Follow up with Marlene to do this/follow up with the writers

[2018-06-28 16:57] nicholas-kebbas opened #187 "Calendar/Home Slider Issues"
- Text Itself isn't a link, only the top half of the slider links out.
- Marlene says slider image is too large, so we'll want to talk about making that smaller.

[2018-06-28 16:59] nicholas-kebbas opened #188 "Menu Button pops up briefly on desktop before full menu displays"

[2018-06-28 17:29] mjuarez2 commented on #147
@nicholas-kebbas @drmyers1 @sozguzer @tomkhenke This has been set up at http://pr-serch-dgreat.pantheonsite.io/

[2018-06-28 17:33] drmyers1 commented on #146
@mjuarez2 thanks for setting this up.  initial testing showed the box and checkbox.  need to test on multiple browsers.

[2018-06-28 17:34] drmyers1 commented on #147
@mjuarez2 the link in link worked for me.

[2018-06-28 19:02] nicholas-kebbas opened #192 "PDF/Word Doc Icons"

[2018-06-28 20:16] sozguzer commented on #184
If you are talking about Favorite Apps not aligning on the left on Dashboard, I have fixed those

[2018-06-28 20:20] sozguzer commented on #188
I talked about it with MJ a month ago. He said it was probably the order of javascript that hides it/makes it visible

[2018-06-29 04:52] drmyers1 commented on #80
@dustinleblanc @rjbain I found over 350 pages of example data.  Where did the users come from?  Almost all the admin accounts did not get the CAS username.  Most of the users did have a cas username but non had display name.  Is the mapping not set up correctly to bring over the display name?

Rob, were there no users when you started the import or did any of these account exist?

[2018-06-29 15:57] rjbain commented on #80
@drmyers1 @dustinleblanc I'm not sure where those example accounts came from. They're not in the D8 or D7 db. The D8 db had user accounts in it. Dustin, do I need to delete all the users in the D8 db before running the migration?

[2018-06-29 16:06] drmyers1 commented on #80
@dustinleblanc here is an example of a test account.
http://pr-tandem4-dgreat.pantheonsite.io/user/35262/edit?destination=/admin/people%3Fuser%3D%26status%3DAll%26role%3DAll%26permission%3DAll%26order%3Dstatus%26sort%3Dasc

I also noticed that one of our team members (Michael Cole) did not have any roles or groups other than administrator.  He also did not have cas username and display name.  On p

[2018-06-29 20:02] dustinleblanc commented on #80
@drmyers1 I've filed an issue on the webform migration plugin here: https://github.com/heshanlk/webform_migrate/issues/7

I'll be trying to solve that

[2018-06-29 22:15] drmyers1 opened #195 "Service Catalog"
@rjbain The template for the service catalog needs to be fixed.  We need the left column for the menu and the right for quick links.

http://dev-dgreat.pantheonsite.io/its/applications-services
http://dev-dgreat.pantheonsite.io/its/how-do-i

Selin also noticed that there is a repeated section that needs to be removed.  she provide a code example.  I am going to attach the image.

<div class="row c

[2018-06-29 23:08] drmyers1 commented on #147
@mjuarez2 looks like we can push this forward.  The styling needs to be fix but we can work with @tomkhenke and @sozguzer to schedule.

[2018-06-29 23:13] drmyers1 commented on #146
@mjuarez2 looks like we can push this forward. The styling needs to be fix but we can work with @tomkhenke and @sozguzer to schedule.

[2018-06-29 23:59] nicholas-kebbas opened #196 "Block Changes"
- Update quick links so there's a button to open in a new window
- Update contact box field titles
- Update basic page title

[2018-07-02 15:43] drmyers1 commented on #132
@mjuarez2 i tested search and i see it pulling in myUSF results but I dont see marketing content.  Can you confirm that this is working?

[2018-07-02 22:14] mjuarez2 commented on #142
@drmyers1 @nicholas-kebbas This fix is on https://pr-serch-dgreat.pantheonsite.io/

[2018-07-02 22:36] nicholas-kebbas commented on #132
@mjuarez2 @drmyers1 Hi Michael it looks to be working now

[2018-07-02 22:50] drmyers1 commented on #142
@mjuarez2 this looks to be working.

[2018-07-02 22:54] drmyers1 commented on #132
@mjuarez2 this is working now.  I see results for both myUSF and www.

[2018-07-02 23:29] drmyers1 commented on #195
@mjuarez2 for the code example above, @sozguzer found there there are two "main class"main-content...".  There should only be one in the template.

For the Application Services page, there should be a menu on the left and the filter by underneath the menu, content area and a callout on the right.
http://dev-dgreat.pantheonsite.io/its/applications-services

Right now the filter by shows up in a sep

[2018-07-03 17:37] nicholas-kebbas commented on #161
@mjuarez2

[2018-07-03 21:02] rjbain commented on #136
@drmyers1 I haven't been able to get the role config to work for blocks using the UI. I found a way to do it in code and am trying that now.

[2018-07-03 21:36] dustinleblanc commented on #80
@drmyers1 going quite well actually!

Yes this is being mapped in the migrations, I can see the names coming over. I think I had introduced a bug into the code for the user migration when trying to merge in upstream changes, it should now be fixed.

My guess is that what is actually happening here is that existing users in the D8 site aren't getting mapped. I suggested to @rjbain that we might wan

[2018-07-03 21:39] dustinleblanc commented on #80
Another note @drmyers1, re: deleting accounts and groups.

I don't believe there is currently any code to assign a new account to any groups (I could be wrong, @labboy0276?) So upon deletion, I've got things fixed to populate your roles from CAS, but it doesn't do anything to handle groups.

[2018-07-03 22:55] mjuarez2 commented on #195
@drmyers1 @rjbain The templates have been modified and approved by @sozguzer Also, @sozguzer and @tomkhenke have decided not to use the left sidebar region for "Top Questions" and "Filter by Audience", so they'll be place that in the main content region.

[2018-07-03 22:56] mjuarez2 commented on #161
@nicholas-kebbas This has been pushed to master.

[2018-07-03 23:16] sozguzer commented on #195
@drmyers1 @rjbain  @tomkhenke We decided that we will place the 'Filter by Audience' at the top,  above main body so on mobile it will still be at the top. We will have 'Top Questions' in sidebar second.

[2018-07-05 16:36] drmyers1 commented on #195
@mjuarez2 i dont see the Filter by Audience at the top of the main area.  I also dont see the top questions in the right side bar.  Is this something that I can add to the template or will you need add those?

[2018-07-05 16:47] drmyers1 commented on #195
@mjuarez2 i spoke with @tomkhenke and @sozguzer and they are working on the Filter by Audience and Top Questions.  One follow up question about the search.  Can this be separated from the listing?  @sozguzer wants to move it to work better with the filter by?

http://dev-dgreat.pantheonsite.io/its/applications-services

Also, any thoughts on why we can save aliases for this content.  I am still no

[2018-07-06 19:49] drmyers1 commented on #195
@dustinleblanc i tested the latest import of users that @rjbain added to pr-174.  I see that a lot of the users dont cas username and display name.  any idea why the information isn't coming over?

http://pr-174-dgreat.pantheonsite.io/

[2018-07-06 20:36] rjbain commented on #195
@dustinleblanc @drmyers1 Maybe those could be users that didn't get updated with the migration, since only I migrated about 300 users. I'm working on deleting all the users in the d8 db, but we're running into errors with the deletion.

[2018-07-06 20:40] drmyers1 commented on #80
@dustinleblanc @rjbain i add my note to the wrong card with my user testing.  sorry about this.  I will delete these notes until we have more information from @rjbain

[2018-07-10 20:35] dustinleblanc opened #202 "Users are Automatically added to groups based on their roles"
As a User,
I want immediate access to group content,
So that I can access relavent content

[code]

[2018-07-10 22:23] drmyers1 opened #203 "Login Box"
@mjuarez2 we need to change the login box from going to user/login to directly going to the cas login page.

We would also like to change the behavior after a user a logged in.  Right now it replaces the login button with a logout button.  Can replace the logout button with the users name (similar behavior that you see in the current myUSF)?  We would also like to have have drop down that has a li

[2018-07-10 22:41] drmyers1 commented on #134
Currently you can not re-select an image in the carousel.  The only way to make changes is to delete and re-add the image.  We need to be able to select the image again.

[2018-07-11 00:13] tomkhenke commented on #187
I'm not seeing an anchor region defined in the CSS that would explain the link only being on half the image. Maybe it's a bootstrap definition?

One more issue is we will need a way to change the number of items in the slider, in a way that's flexible. I'd think something like 5 items is more sensible than the 3 that are there now

[2018-07-11 00:15] tomkhenke commented on #114
Other issue was mentioned but I didn't see a card so adding it here:

Need to remove the text for each of fields: Tel, Fax, Email. That text is coming from the component, but the CSS is adding the icons automatically and that's enough.

[2018-07-11 18:16] mjuarez2 commented on #203
@drmyers1 @sozguzer This has been added to https://pr-dshblks2-dgreat.pantheonsite.io/

[2018-07-11 18:24] nicholas-kebbas opened #204 "Secure Files"
We need a solution for secure files in new myUSF.  We have a solution for secure content through private groups, but files uploaded to these groups are still publicly accessible.

[2018-07-11 21:42] nicholas-kebbas commented on #173
Looks to be fixed

[2018-07-11 21:42] #173 closed

[2018-07-12 04:47] nicholas-kebbas opened #206 "Fix Footer Links"
They currently  direct to home

[2018-07-12 05:11] nicholas-kebbas opened #207 "Fix Main Navigation Items"
Change the ones that are linked to node or they'll break during migration

[2018-07-12 16:45] nicholas-kebbas commented on #160
Rename Fave Apps to Top Apps.
On https://pr-dshblks2-dgreat.pantheonsite.io/quick-links change to "myLinks" and "all Links"

[2018-07-12 16:46] nicholas-kebbas commented on #160
@mjuarez2 Hey Michael can you work on these fixes after you finish the template override/other pieces of the dashboard?

[2018-07-13 17:00] #202 closed

[2018-07-14 19:26] nicholas-kebbas opened #214 "Update CAS Module"
Thai changed this in the UI but we need to make sure this doesn't get overwritten:

The matching method should be "Contains" instead of "Includes".
The "Includes" method matches a substring so it could mess up the logic since both "student" and "online_student" could be matched to 'student' role.

[2018-07-16 16:54] nicholas-kebbas opened #216 ""Menu" showing up on all submenus"
Something changed and the "Menu" button is now appearing on all views, not just mobile.

![Screen Shot 2018-07-16 at 9.41.38 AM.png](https://images.zenhubusercontent.com/5afdbb894b5806bc2bd3979f/b9b20862-c85f-4738-a5ca-2fecb1ad9ee9)

[2018-07-16 18:28] #181 closed

[2018-07-16 18:34] nicholas-kebbas commented on #206
USFCA - https://www.usfca.edu
Mobile - https://www.usfca.edu/mobile
Library - /library (or https://myusf.usfca.edu/library, w/e works)
Directions - https://www.usfca.edu/directions
Feedback - /marketing-communications/feedback (https://myusf.usfca.edu/marketing-communications/feedback)
Web Accessibility - https://www.usfca.edu/about/web-accessibility
Title IX - /title-ix (https://myusf.usfca.edu/t

[2018-07-16 18:35] #149 closed

[2018-07-16 21:00] nicholas-kebbas opened #218 "Add ID to dashboard"
Dashboard needs an ID so Selin can target that page and style it. She needs something on class="main" content level.

[2018-07-16 21:13] nicholas-kebbas commented on #175
Moving to closed because we can solve this with block visibility groups

[2018-07-16 23:02] drmyers1 opened #219 "User Name in Top Bar"
New Relic shows a lot of resources being used for the User Name in the top bar.  is there a way that this could be put into a view?  Any thoughts on how we can improve performance with this feature?

[2018-07-17 16:01] nicholas-kebbas opened #220 "404 Page"
Need a better 404 page

[2018-07-17 19:42] nicholas-kebbas opened #222 "WYSIWYG Add image popup not working."
I think this is tied to the Javascript issues with the "Menu" appearing, but accessing the file library through the WYSIWYG is no longer working.

[2018-07-17 19:43] nicholas-kebbas opened #223 "Quick Links (Nick's Links) View Links are switched/not working"
The "+" icon on the quick links view on the dashboard goes to manage quick links, when it should go to add. The pencil icon goes to add but the link is incorrect (it should go to /quick-links).

[2018-07-18 22:51] nicholas-kebbas opened #230 "Search Page getting page not found"
https://new-live-dgreat.pantheonsite.io/results?myusf_search=true&search=marketing+communications

[2018-07-18 22:52] rjbain commented on #230
This is likely because the node was deleted before the import.

[2018-07-18 22:59] drmyers1 opened #231 "Admin Title Used in Breadcrumb"
Currently the admin title is being used for the breadcrumb.  We need to change to the display title.

[2018-07-19 16:29] nicholas-kebbas commented on #114
Ampersands are showing up as &amp;

[2018-07-19 16:36] nicholas-kebbas opened #232 "Open Link in New Window - For links added in WYSIWYG"
Currently you can not create a link that opens in a new window without going in the code.  We want to include the option in the editor.

[2018-07-19 16:38] #163 closed

[2018-07-19 16:38] #118 closed

[2018-07-19 16:38] #178 closed

[2018-07-19 16:45] nicholas-kebbas opened #233 "Add Favicon"
Add favicon.ico to new myUSF site:  https://live-dgreat.pantheonsite.io/admin/appearance/settings

We want to use the one currently on myUSF

[2018-07-19 19:41] nicholas-kebbas opened #234 "Truncate Long Names in navbar"

[2018-07-19 19:41] #203 closed

[2018-07-19 21:00] nicholas-kebbas opened #235 "Quick Links Relative URLS point to "internal" & open in new window feature"
For some reason, links created using relative URLs don't work as expected and instead point to "internal"

Seperately, we'd like a checkbox that allows the option to make the link open in a new window.

[2018-07-19 23:23] mjuarez2 commented on #160
@nicholas-kebbas @drmyers1 This change is on https://pr-229-dgreat.pantheonsite.io Make sure to clear ur local caches

[2018-07-19 23:23] mjuarez2 commented on #223
@nicholas-kebbas This is on https://pr-229-dgreat.pantheonsite.io

[2018-07-19 23:24] mjuarez2 commented on #233
@nicholas-kebbas @drmyers1 This is on https://pr-229-dgreat.pantheonsite.io

[2018-07-19 23:30] drmyers1 commented on #233
@mjuarez2 this looks good.

[2018-07-19 23:40] drmyers1 commented on #223
@mjuarez2 this looks good.

[2018-07-19 23:40] drmyers1 commented on #160
@mjuarez2 this looks good

[2018-07-20 00:17] nicholas-kebbas opened #236 "Events Calendar - Make category search default to all dates"

[2018-07-20 00:19] nicholas-kebbas commented on #236
Right now when you search for a category it defaults to the current day and nothing shows up

[2018-07-20 06:01] nicholas-kebbas opened #237 "Random Home Icon floating in body of pages"

[2018-07-20 16:10] nicholas-kebbas commented on #216
@mjuarez2 This happened when the "aggregate javascript" box was checked on the caching page. It also seems to have broken the WYSIWYG media browser

[2018-07-20 16:56] #233 closed

[2018-07-20 17:04] nicholas-kebbas opened #238 "Homepage, make title text not required, remove black border around subtitle"
- Black border is probably because the homepage is pulling in a <br> tag

[2018-07-20 17:15] nicholas-kebbas opened #239 "Update FAQ Page"

[2018-07-20 18:04] drmyers1 commented on #216
@mjuarez2 when you uncheck the aggregate javascript, we also want to reducing caching to 15 mins while we are still working on the site.  we can increase back when we launch.

[2018-07-20 18:16] #222 closed

[2018-07-20 18:17] #175 closed

[2018-07-20 18:21] drmyers1 commented on #187
@sozguzer has added to her list to look at changing the css.

[2018-07-20 19:13] drmyers1 commented on #114
We also need to make sure that the body section is pulled in, if there is content.  Here is an example of page contact box that has text in the body field:
https://live-dgreat.pantheonsite.io/special-events
https://live-dgreat.pantheonsite.io/block/277?destination=node/137665

[2018-07-20 19:44] nicholas-kebbas commented on #238
@mjuarez2  Tom said to let him know if the black border is CSS and they'll take care of it

[2018-07-20 19:58] rjbain commented on #235
Could someone take a quick look here?
https://pr-240-dgreat.pantheonsite.io/
I think it should be fixed

[2018-07-20 20:03] drmyers1 commented on #235
@rjbain this looks be working for me.

[2018-07-20 23:04] rjbain commented on #232
@drmyers1 @nicholas-kebbas Do we want to add Linkit functionality as well, so people can search for nodes to link to?

[2018-07-20 23:57] mjuarez2 commented on #238
@nicholas-kebbas @drmyers1 The home page is a basic page, so if the title is not required, that will also be the case for all basic pages. Let me know if that's ok.

Black border issue is on live

[2018-07-20 23:57] mjuarez2 commented on #216
@drmyers1 @nicholas-kebbas Turning off JS aggregation has fixed this. This is on live.

[2018-07-20 23:59] mjuarez2 commented on #114
@nicholas-kebbas @rjbain @sozguzer @drmyers1 Contact box changes are live on live-dgreat.pantheonsite.io

[2018-07-21 00:01] mjuarez2 commented on #187
@tomkhenke @drmyers1 @sozguzer @nicholas-kebbas Featured events are currently set to display 10 items

[2018-07-21 01:54] rjbain commented on #232
@drmyers1 @nicholas-kebbas I added Linkit. Could you take a look? It has an option for opening the link in a new window and you can search for nodes to link to: https://pr-243-dgreat.pantheonsite.io/node/48592/edit

[2018-07-21 05:48] nicholas-kebbas commented on #232
@rjbain Looks to work well

[2018-07-21 05:49] #216 closed

[2018-07-21 07:19] nicholas-kebbas opened #244 "System Files are private and not able to be opened"
Files with the /system/ alias give an error. This seems to happen with all the /system/ files. These files are also in the "private" folder when accessed through the WYSIWYG. /sites/default files work as expected.

https://live-dgreat.pantheonsite.io/system/files/isss/new-i-20-ds-2019-request-form.pdf
https://live-dgreat.pantheonsite.io/isss/students/j-1/leave-of-absence-withdrawal

[2018-07-21 07:21] nicholas-kebbas commented on #238
@mjuarez2 Thanks Michael. For now I'd say keep it required, then.

[2018-07-21 14:31] drmyers1 commented on #114
@mjuarez2 i am noticing that the basic content that is getting pulled in is not coming in with the html.  email addresses are not linked and line breaks are not working.  is there a way to fix this?  Here is an example:
https://live-dgreat.pantheonsite.io/arts-sciences/physics-astronomy

[2018-07-21 14:34] drmyers1 commented on #231
@rjbain could you take a look at this dev request?

[2018-07-21 14:34] drmyers1 commented on #236
@mjuarez2 could you look at this request?

[2018-07-21 14:57] drmyers1 commented on #244
@rjbain Here is another example of pdfs that are in system files and we are not able to access.

https://live-dgreat.pantheonsite.io/career-services/interviews-offers

Marlene and Tom found pages that had system files that were not in the system.  I still need to get you those examples.

[2018-07-21 16:39] rjbain commented on #232
Ok, I'll merge

[2018-07-21 16:47] mjuarez2 commented on #236
@drmyers1 @nicholas-kebbas This is on pr-245-dgreat.pantheonsite.io

[2018-07-21 16:53] nicholas-kebbas opened #246 "Calendar Picker Issues"
- By default, when you search in the widget, it defaults to current date. Would like it to default to all dates.

[2018-07-21 17:04] drmyers1 commented on #236
@mjuarez2 @nicholas-kebbas i was not able to access the branch.  Did this change get merged?

[2018-07-21 17:25] drmyers1 opened #247 "Top Apps and Quick Links"
We need to add a link under the top tabs to return to the dashboard.  Also, do we currently have caching on the dashboard for the these features.  If so, how long is it set for?

[2018-07-21 17:38] drmyers1 opened #248 "Mobile/Tablet Styling of Top Apps and Quick Links"
@sozguzer when you go to manage top apps and quick links on mobile the styling needs to get cleaned up a bit.  The only way you can reorder on mobile is with the weights and I am not able to see the number on mobile or tablet.  Could you take a look?

[2018-07-21 19:19] nicholas-kebbas commented on #236
@mjuarez2 @drmyers1 Ah this card already exists. I'll delete the card I made. Yeah Michael this doesn't seem to have made it up to live and your multidev seems to have been deleted.

[2018-07-21 19:19] #246 closed

[2018-07-21 20:30] drmyers1 opened #249 "CAS Login to Dashboard"
@mjuarez2 were you able to link to the dashboard after the CAS login.

[2018-07-21 21:55] mjuarez2 commented on #114
@nicholas-kebbas @drmyers1  This is now on https://pr-250-dgreat.pantheonsite.io

[2018-07-21 21:57] mjuarez2 commented on #236
@nicholas-kebbas @drmyers1 This is now on https://pr-250-dgreat.pantheonsite.io

[2018-07-21 21:58] mjuarez2 commented on #247
@nicholas-kebbas @drmyers1 This is on https://pr-250-dgreat.pantheonsite.io

[2018-07-21 21:59] mjuarez2 commented on #247
@nicholas-kebbas @drmyers1 Quick Links and Fav Apps currently have 30 minute caching set on the block view for the dashboard

[2018-07-21 22:19] mjuarez2 commented on #231
@nicholas-kebbas @drmyers1 Not sure how this can be done, looks like a real hassle. I'd suggest switching the fields, that is, keeping the title as display title and then changing current display title to admin title. We can change the content view to display admin titles instead of display (regular) titles.

[2018-07-21 22:34] drmyers1 commented on #247
@mjuarez2 this looks good.

[2018-07-21 22:38] drmyers1 commented on #236
@mjuarez2 this looks to be working.  If I search with other categories and get no results, does that mean that they dont have any upcoming events?  I tried Arts and Sciences

[2018-07-21 22:40] drmyers1 commented on #114
@mjuarez2 this looks to be working.

[2018-07-21 22:43] drmyers1 commented on #231
@mjuarez2 i was hoping it was going to easy.  the problem is that we have been using the field as the admin title.

[2018-07-21 22:51] mjuarez2 commented on #236
@drmyers1 Normally yeah. I did College of Arts and Sciences from the dropdown and got a number of results from Sport Management https://pr-250-dgreat.pantheonsite.io/calendar?action=search&search_content=&event_category=5&event_date=

[2018-07-21 22:52] nicholas-kebbas commented on #247
@drmyers1 @mjuarez2 So it looks like the caching applies when you re-order, but not when you add/remove quick links or top apps.

Also I believe the scope for the top apps was to originally not allow the user to unflag.  If they unflag, since they're unable to access the all apps page, they can never get it back. @mjuarez2 could you remove the unflag this item option for the Top Apps (not the quic

[2018-07-21 22:56] drmyers1 commented on #236
@mjuarez2 thanks.  i guess i clicked it incorrectly.  Can we push your changes forward or is  there anything else we need to test of pr-250

[2018-07-21 22:57] nicholas-kebbas commented on #114
@mjuarez2 looks good

[2018-07-21 23:13] rjbain commented on #244
@drmyers1 I'm not having much luck with this. I tried using this module, but it's not working for me:
https://www.drupal.org/project/private_files_download_permission

I found this issue and tried the fix mentioned in the comments, but it didn't work for me:
https://www.drupal.org/project/private_files_download_permission/issues/2918393

[2018-07-21 23:30] nicholas-kebbas commented on #247
@mjuarez2 Looks good now thanks Michael

[2018-07-21 23:30] nicholas-kebbas commented on #236
@mjuarez2 this also looks good

[2018-07-21 23:31] drmyers1 commented on #244
@mjuarez2 could you take a look at this request and see if you have any ideas.  @rjbain is stuck right now.

[2018-07-21 23:33] #223 closed

[2018-07-21 23:34] drmyers1 commented on #247
@mjuarez2 looks good.

[2018-07-22 00:44] mjuarez2 commented on #244
@rjbain @drmyers1 @nicholas-kebbas Is the idea here to make specific files accessible only to certain roles?

[2018-07-22 00:46] rjbain commented on #244
@mjuarez2 I think we just want to make them visible to everyone at the moment.

[2018-07-22 00:57] drmyers1 commented on #244
@mjuarez2 here is page where several links point the system/files pdfs.  everyone gets and error that they are not authorized the access.

https://live-dgreat.pantheonsite.io/management/intranet/accreditation

[2018-07-22 02:13] rjbain commented on #231
@drmyers1 Could you take a look here?
https://pr-251-dgreat.pantheonsite.io/

Also added the current page to the breadcrumbs which was missing before.

[2018-07-22 02:32] drmyers1 commented on #231
@rjbain this looks like you fixed it.

[2018-07-22 02:42] rjbain commented on #231
Merging

Rob Bain
Web Developer
University of San Francisco
Web Services

On Sat, Jul 21, 2018 at 7:32 PM, drmyers1 <notifications@github.com> wrote:

[2018-07-22 04:37] sozguzer commented on #187
I can't figure out why the link is not working. Not sure if it is a css issue. The link is around the image but when i give it a border it doesn't even show up.

[2018-07-22 05:38] #133 closed

[2018-07-22 05:38] #232 closed

[2018-07-22 08:05] nicholas-kebbas opened #252 "Iframe Videos aren't responsive"
Hey Selin, iframe videos seem to extend the page on mobile. What do you think about adding a "max-width:100%" to them as a temporary solution?

[2018-07-22 15:10] drmyers1 commented on #187
@mjuarez2 @rjbain do either of you have any suggestions for fixing the event slider?  currently none of them link to the event details.

[2018-07-22 15:12] drmyers1 commented on #247
@mjuarez2 it seems the return to dashboard links for the top apps and links are showing up for all roles.  Can you please look at this again?

[2018-07-22 15:21] drmyers1 opened #253 "Adding a "Nick's" Link"
when you create a link a "Nick's" Link there is text at the top of the view.

https://live-dgreat.pantheonsite.io/node/add/favorite_link?edit[field_link_type][und]=quick?destination=favorite-links/allapps

The text reads as follows:
Creating a Link below will add it to your Quick Menu or Favorite Links on the dashboard. New submissions and changes will appear within about 5 minutes

Can we change

[2018-07-22 15:55] drmyers1 commented on #220
@rjbain could you look at this

[2018-07-22 16:49] sozguzer commented on #187
Michael found out that a div class in the template was blocking clicking. I am looking into seeing what will happen CSS-wise if we take it out and whether it breaks anything else.

[2018-07-22 16:56] #234 closed

[2018-07-22 16:56] #230 closed

[2018-07-22 16:57] #231 closed

[2018-07-22 16:58] #168 closed

[2018-07-22 16:58] #161 closed

[2018-07-22 17:04] sozguzer commented on #252
Can you give me a url to a page that has a video? I can try it there

[2018-07-22 17:16] rjbain commented on #220
@drmyers1 Sure, what do we want on the page?

[2018-07-22 17:37] nicholas-kebbas opened #254 "ITS Applications and Services Page Search"
The search isn't working for the main services page: https://live-dgreat.pantheonsite.io/its/applications-services.

Can someone take a look?

[2018-07-22 17:51] drmyers1 commented on #220
can we do something to what we have on the live site?

[2018-07-22 17:59] rjbain commented on #220
Sure, so just change the text on the page?

Rob Bain
Web Developer
University of San Francisco
Web Services

On Sun, Jul 22, 2018 at 10:51 AM, drmyers1 <notifications@github.com> wrote:

[2018-07-22 18:10] drmyers1 commented on #220
@rjbain yes, change the text and maybe include a link to the search.

[2018-07-22 18:12] nicholas-kebbas commented on #254
nvm figured it out

[2018-07-22 18:13] #254 closed

[2018-07-22 18:24] nicholas-kebbas opened #255 "Services Page Search Box and Filter By Audience Display Issues"
@sozguzer @mjuarez2 Is there something specific I need to do to get the services page search and filter by audience views to display correctly: https://live-dgreat.pantheonsite.io/its/applications-services? I know there was some discussion about a template regarding this a few weeks back.

[2018-07-22 19:06] sozguzer commented on #255
You are supposed to put filter by audience in the main body area. I moved it there. We were supposed to see if we can move the search box out of the main content area above H1. Seems like  that was not done yet.

[2018-07-22 19:10] sozguzer commented on #255
Or maybe it is done. I'll need to check css and stuff again but it won't be until monday or tuesday

[2018-07-22 19:36] nicholas-kebbas commented on #255
Got it, thanks. I'll try moving it out. I think it should be possible.

[2018-07-22 19:54] drmyers1 commented on #244
@mjuarez2 any updates on this?  any ideas for fixing this?

[2018-07-22 20:09] mjuarez2 commented on #253
@nicholas-kebbas @drmyers1 I made some changes here: https://pr-256-dgreat.pantheonsite.io The text below the link can't be changed but some helper text can be added, which I did there.

[2018-07-22 20:12] mjuarez2 commented on #247
@drmyers1 Set caching to none on the blocks so maybe try again on https://pr-256-dgreat.pantheonsite.io

[2018-07-22 20:35] drmyers1 commented on #247
@mjuarez2 this looks to be working

[2018-07-22 20:36] drmyers1 commented on #253
@mjuarez2 this looks good.

[2018-07-22 20:40] nicholas-kebbas commented on #247
@mjuarez2 looks good to me

[2018-07-22 20:44] nicholas-kebbas commented on #238
@mjuarez2 Actually Michael to revisit this one, I just mean the "Welcome to myUSF" part. Can you make the Title not required on the Hero Image Content type?  https://live-dgreat.pantheonsite.io/node/140135/edit?destination=/admin/content%3Ftitle%3D%26type%3Dhero_image%26status%3DAll%26langcode%3DAll

[2018-07-22 21:04] drmyers1 opened #257 "Calendar Reset"
@mjuarez2 we got a report from Marlene that the reset button is working on the calendar search.  Can you take a look at this?

https://live-dgreat.pantheonsite.io/calendar

[2018-07-22 21:15] mjuarez2 commented on #238
@nicholas-kebbas Title is required by default. If we want to make the title optional on display, we can add a display title field and use that instead. Easy set up. Lemme know.

[2018-07-22 21:19] mjuarez2 commented on #257
@drmyers1 @nicholas-kebbas There might be browser/site caching. I set the query string arguments on the reset button explicitly so this might help. U can see this at https://pr-256-dgreat.pantheonsite.io

[2018-07-22 21:37] drmyers1 commented on #257
@mjuarez2 this looks like it is working.

[2018-07-22 21:58] nicholas-kebbas commented on #238
@mjuarez2 Yes please let's do that.  That makes sense I guess you'd always need the standard title so you can search for it. Thanks Michael

[2018-07-22 23:00] drmyers1 commented on #249
@mjuarez2 do you have an update on this?

[2018-07-23 01:32] drmyers1 opened #258 "Webforms"
@rjbain we got feedback from Michael Cole that he submitted a webform and did not receive the email.  I checked the form and it is set up to email webservices.

https://live-dgreat.pantheonsite.io/admin/structure/webform/manage/webform_135585/handlers

any thought on why this isn't working?

[2018-07-23 02:13] drmyers1 commented on #258
@rjbain Michael clarified that the emails are working but the results are not coming through.  I will take a look and see what I can find.

[2018-07-23 02:53] mjuarez2 commented on #238
@nicholas-kebbas This is on https://pr-256-dgreat.pantheonsite.io/ Works as I tested it so I can just move it forward to master

[2018-07-23 03:07] nicholas-kebbas commented on #238
@mjuarez2 Sounds good thanks Michael

[2018-07-23 03:12] #171 closed

[2018-07-23 03:13] #142 closed

[2018-07-23 05:10] mjuarez2 commented on #249
@drmyers1 Installed a module called redirect_after_login. Seems to work but need to be tested to make sure it doesn't interfere with groups assignment or any other post CAS login processes. It can be tested here: https://pr-259-dgreat.pantheonsite.io

[2018-07-23 05:14] mjuarez2 commented on #244
@drmyers1 I don't have any suggestions here. Not sure why the files cannot be accessed, seems there is no drupal setting here. May be a server setting.

[2018-07-23 05:17] nicholas-kebbas opened #260 "Change "MyApps" URL in main navigation dropdown and in view on dashboard"
Links to "MyApps" should now point to https://login.usfca.edu/ui/main#launch:pad.

Please make this change on the dashboard view, and in the nav bar.

[2018-07-23 05:22] nicholas-kebbas commented on #249
@mjuarez2 Thanks Michael, it looks to work. Yeah, we'll need to wait to test CAS on Tuesday – once we're able to – before pushing this LIVE, then.

[2018-07-23 21:43] nicholas-kebbas opened #267 "Add Quick Link not styled for non editors"

[2018-07-23 21:46] nicholas-kebbas commented on #267
This can be resolved later but non editors don't see adminimal theme so their add quick link looks like:

![screen shot 2018-07-23 at 2 40 09 pm](https://user-images.githubusercontent.com/5649192/43104697-1b560d54-8e87-11e8-84cc-94bbfab8c62a.png)

[2018-07-23 23:06] nicholas-kebbas opened #269 "Ability to Edit Files in File Search/How to Located imported files"
Is it possible to add edit or delete buttons to the file search page: https://live-dgreat.pantheonsite.io/admin/content/files

If not, is there a way to locate files through the WYSIWYG?

[2018-07-23 23:20] nicholas-kebbas opened #270 "Videos not showing in Windows IE 11"

[2018-07-24 02:52] mjuarez2 commented on #260
@nicholas-kebbas @drmyers1 This is live

[2018-07-24 03:29] mjuarez2 commented on #249
@nicholas-kebbas @drmyers1 This is now on https://pr-273-dgreat.pantheonsite.io/

[2018-07-24 04:38] drmyers1 commented on #249
@mjuarez2 this worked for the test account i tested with.  i am not sure if we should push this up just yet since we have all kinds of errors showing up in new relic.

[2018-07-24 05:00] nicholas-kebbas commented on #260
@mjuarez2 Thanks Michael these are good

[2018-07-25 03:17] nicholas-kebbas opened #277 "Open Dashboard Links in New Window"
They currently open in same window

[2018-07-25 03:20] nicholas-kebbas opened #278 "Line up Home Page Graphic with Banner"

[2018-07-25 17:16] nicholas-kebbas opened #279 "Require re-entering of credentials after logout and log back in"

[2018-07-25 21:53] tomkhenke commented on #162
Created a view on live site to pull 10 latest announcements and added it to a block and placed block on right column of Announcements

CSS styling follows look of Quicklinks but in Gray. Pushing with CSS 7/25

[2018-07-25 21:57] tomkhenke opened #282 "Announcements displaying roles"
Roles are now exposed on the Announcements detail page. This was not the case before going live.

Tags are not showing, but maybe live announcements have no tags?

[2018-07-25 22:17] mjuarez2 commented on #282
@tomkhenke @nicholas-kebbas @rjbain Fix for this is on https://pr-281-dgreat.pantheonsite.io/

[2018-07-25 23:21] tomkhenke commented on #282
Here's a couple direct links to announcements:

https://pr-281-dgreat.pantheonsite.io/node/140238
https://pr-281-dgreat.pantheonsite.io/node/140239

Both seem to work good in Mac Chrome and Safari

[2018-07-25 23:57] nicholas-kebbas opened #284 "Look at 404s on site"

[2018-07-26 17:48] nicholas-kebbas opened #286 "Dashboard Change"
For Students and Faculty:

Add "Schedule of Classes" after Fac/Staff Drive.
https://hebe.usfca.edu/prod/bwckschd.p_disp_dyn_sched/

[2018-07-26 17:49] nicholas-kebbas opened #287 "Change IMCE Upload limit to 500mb"
Currently at 50 mb

[2018-07-26 17:49] nicholas-kebbas opened #288 "Add ability to add redirects to all access role in myUSF."

[2018-07-26 17:55] nicholas-kebbas opened #289 "Add ability to manage Groups to All Access Role"

[2018-07-27 00:05] rjbain commented on #220
@drmyers1 I have the 404 page configured here:
https://pr-293-dgreat.pantheonsite.io/blah
I also have the registration settings change there too.

[2018-07-27 14:33] drmyers1 commented on #220
@nicholas-kebbas could you test the 404 and registration today for @rjbain

[2018-07-27 14:34] drmyers1 opened #294 "New Site Map"
Create a new site map of myUSF to update search index

[2018-07-27 14:36] drmyers1 opened #295 "Search and Chron"
Research turning off search temporarily to stop the cron errors.  @mjuarez2 @rjbain can you work on this together?

[2018-07-27 14:37] drmyers1 opened #296 "Username and Logout"
@mjuarez2 I know you have this in the works.  Can you let @nicholas-kebbas when this is ready to test?  i know that @sozguzer still needs to style this.

[2018-07-27 14:40] drmyers1 opened #297 "Research Dashboard Error"
@rjbain creating a card to research the error that users reported when accessing the dashboard.  The user fisher will need to be contacted to get steps taken to see error.  I asked @nicholas-kebbas or Michael Cole to work with the user.

[2018-07-27 15:55] rjbain commented on #220
@nicholas-kebbas you can see that the registration tab is gone here: https://pr-293-dgreat.pantheonsite.io/user/login

[2018-07-27 16:19] nicholas-kebbas commented on #220
@rjbain looks good thanks rob

[2018-07-27 16:49] rjbain commented on #220
This is live @nicholas-kebbas

[2018-07-30 16:13] nicholas-kebbas opened #300 "Upload thridparty CSS files to new myUSF"
We used to have a stylesheet here: https://myusf.usfca.edu/sites/all/themes/usf_oa_radix/assets/stylesheets/thirdparty/site.css

(It can be found here still: http://nick-usfi.pantheonsite.io/sites/all/themes/usf_oa_radix/assets/stylesheets/thirdparty/site.css)

We need to do the same for the myUSF one (found here): http://nick-usfi.pantheonsite.io/sites/all/themes/usf_oa_radix/assets/stylesheets/t

[2018-07-30 16:20] rjbain commented on #295
@drmyers1 We have the search module turned off now. The site is performing well. I think there was some kind of problem with the installation of that module (table was missing), which was causing problems for Cron and for site indexing when a user saved changes to a page. We should probably try reinstalling it and running database updates when we need the module again.

[2018-07-30 16:40] rjbain commented on #294
@drmyers1 I'm looking into this. Just FYI, sitemaps have a performance impact, especially on large sites, due to needing to index so many pages, which usually happens when running cron.

[2018-07-30 16:59] drmyers1 commented on #295
@rjbain thanks for the update.  @nicholas-kebbas moving to new issues until this can be scheduled again.

[2018-07-30 17:25] drmyers1 commented on #296
@mjuarez2 @nicholas-kebbas i tested the username on mac (chrome, firefox and safari) and on PC (internet explorer and firefox).  I was not able to test on chrome because of the version we have on our test machine.  Will need to have someone test.  I did also test on iphone.  All browsers i was able to test seemed consistent and worked for me.

Let me know once you have the logout ready to test. th

[2018-07-30 17:29] drmyers1 commented on #257
@mjuarez2 @nicholas-kebbas i believe this got pushed out a while ago.  Can you confirm and I move the card to completed?

[2018-07-30 17:38] rjbain commented on #294
@drmyers1 Sure, we could do that. I'll get it set up and do a quick a/b test.

[2018-07-30 19:38] nicholas-kebbas opened #302 "Change "View Student Records" back to "Student Self-Service""
This should be the last time. Please make this change on the dashboard (should be seen by the student role).

[2018-07-30 21:01] nicholas-kebbas opened #303 "Allow jpeg in IMCE (currently only allows jpg)"

[2018-07-30 21:34] nicholas-kebbas opened #304 "Embeddable Feeds throughout myUSF"

[2018-07-30 22:26] nicholas-kebbas opened #305 "My Links Disappearing after they add them"
People are reporting their "My Links" are disappearing after they add them.

[2018-07-30 22:56] mjuarez2 commented on #303
@nicholas-kebbas This is on https://ci-1133-dgreat.pantheonsite.io/

[2018-07-30 23:00] mjuarez2 commented on #257
@drmyers1 @nicholas-kebbas This is currently live

[2018-07-30 23:12] mjuarez2 commented on #286
@nicholas-kebbas @drmyers1 This is live

[2018-07-30 23:13] #257 closed

[2018-07-30 23:15] #286 closed

[2018-07-31 15:44] rjbain commented on #294
@drmyers1 I'm running into errors when trying to generate the XML Sitemap. I'm looking for a possible fix, or alternative module.

[2018-07-31 15:50] drmyers1 commented on #294
@rjbain thanks for the update.  let me know if you need me to test anything as you make progress.

[2018-07-31 15:53] #247 closed

[2018-07-31 15:53] #249 closed

[2018-07-31 15:54] #160 closed

[2018-07-31 15:55] #238 closed

[2018-07-31 16:01] nicholas-kebbas commented on #303
@mjuarez2 This is good on your other branch

[2018-07-31 16:05] #236 closed

[2018-07-31 16:06] #166 closed

[2018-07-31 16:07] #132 closed

[2018-07-31 16:07] #140 closed

[2018-07-31 18:22] nicholas-kebbas opened #309 "Google Analytics for new myUSF"
Can we set up Google Analytics for the new site?

[2018-07-31 18:33] rjbain commented on #294
@drmyers1 I was able to get another module to work. I have the sitemap up on this branch:
https://pr-301-dgreat.pantheonsite.io/sitemap.xml
I also have the robots.txt updated there, but it automatically gets replaced on non LIVE environments, so we won't see the changes until it's deployed.

[2018-07-31 22:12] rjbain commented on #294
@drmyers1 This is pushed live, but the robots.txt didn't update. I'll have to follow up with pantheon support. I see the changes in the master repo, but not on the live site.

[2018-08-01 16:25] drmyers1 commented on #302
@mjuarez2 @nicholas-kebbas this was completed.

[2018-08-01 16:25] #302 closed

[2018-08-01 16:46] drmyers1 opened #312 "My Links Issue"
We have received several complaint that users are adding and managing their My Links.  The configuration changes and addition of new links only stays until the user logs out.  Once the user logs back in everything is out of order or links are no longer available.

If we are not able to find a quick solution for this we will need to communicate with users and remove the ability to add and manage un

[2018-08-01 16:48] drmyers1 commented on #187
moving this card to closed.

[2018-08-01 16:49] #187 closed

[2018-08-01 16:59] nicholas-kebbas commented on #269
@mjuarez2 Hi Michael, Going off our discussion yesterday if the above isn't feasible, we can also try moving the PDFs from the "Public" (root) folder in IMCE to the "default" folder, but then we would need to reroute the aliases so that all the PDF links across the site don't break. Please let me know if any of these options would work.

[2018-08-01 18:31] rjbain commented on #294
@drmyers1 The robots.txt didn't update after I merged the new 404 page. I notified Pantheon support that re-merging didn't work and I'm checking with them to see if there'd be any issue with me just directly uploading the file to the live server via sftp.

[2018-08-01 18:48] drmyers1 commented on #312
@mjuarez2 @nicholas-kebbas we need to remove the add and manage buttons from the My Links section.  Also can you add some text at the top with the following message.

Add & manage are temporarily unavailable.

[2018-08-01 20:48] drmyers1 commented on #220
@rjbain had Marlene take a look at the 404 page.  Can we change the title "Page Not Found" to "404 Error"?  Is it possible to add the search box on the page, like we do on the marketing site?

[2018-08-01 20:53] #253 closed

[2018-08-01 20:57] rjbain commented on #220
@drmyers1 Sure, I can do that.

[2018-08-01 22:10] rjbain commented on #220
@drmyers1 is it ok to have the alias be "/page-not-found"?

[2018-08-01 22:33] drmyers1 commented on #312
@mjuarez2 we should test if the search module is connected to the problems we are having with the My Links.  As part of your troubleshooting, can you test enabling the module on a multidev.  @rjbain mentioned that it didn't look like it installed correctly the first time.

[2018-08-02 20:59] rjbain commented on #220
@drmyers1 I have it up for review here:
https://pr-316-dgreat.pantheonsite.io/blah

[2018-08-02 21:04] drmyers1 commented on #220
@rjbain this looks good.  search worked for me.

[2018-08-02 21:08] #244 closed

[2018-08-02 21:08] rjbain commented on #220
@drmyers1 Should I merge? I have the robots.txt changes up on this branch too. Thanks.

[2018-08-02 21:08] #288 closed

[2018-08-02 21:09] drmyers1 commented on #220
@rjbain yes, i think we should merge.

[2018-08-02 21:50] rjbain commented on #220
@drmyers1 This is live now. Robots.txt didn't take again. I tried to SFTP it and keep getting permission denied errors. I'm following up with support.

[2018-08-02 23:26] drmyers1 commented on #296
@mjuarez2 here is the link to the cas logout page.  https://myusf.usfca.edu/caslogout

Can you have the logout link point to this page?

Thanks,
David

[2018-08-06 16:44] #303 closed

[2018-08-06 21:03] rjbain commented on #300
@drmyers1 @nicholas-kebbas
I have these redirects set up for the thirdparty css files. There's a new /web/themes/custom/myusf/thirdparty folder that now houses the files:

https://ci-1328-dgreat.pantheonsite.io/sites/all/themes/usf_oa_radix/assets/stylesheets/thirdparty/myusf_template.css

https://ci-1328-dgreat.pantheonsite.io/sites/all/themes/usf_oa_radix/assets/stylesheets/thirdparty/site.css

[2018-08-06 21:46] rjbain commented on #300
@drmyers1 This is live.

[2018-08-06 21:47] rjbain commented on #294
@drmyers1 The robots.txt is updated on live now.

[2018-08-07 23:35] #287 closed

[2018-08-13 17:06] nicholas-kebbas opened #336 "Webform Issue"
Here are some examples of ones with the issue:

https://myusf.usfca.edu/admin/structure/webform/manage/holstein_scholarship_application

https://myusf.usfca.edu/form/betty-l-blakley-scholarship-appl

This is one I just fixed again now (so this one submits):

https://myusf.usfca.edu/admin/structure/webform/manage/mccarthy_center_usf_in_dc_progra

[2018-08-14 16:52] nicholas-kebbas opened #339 "Webform Editor Role Changes"
Hi Michel, please also check the following boxes under the "Webform" tab.

- Access the webform overview page
- Access the webform submission log
- Access the webform user submission page
- Create webforms
- Delete own webform
- Edit any webform
- Edit own webform submission

[2018-08-14 17:35] nicholas-kebbas opened #340 "New Media Module/Ability to Edit Images"
Want to be able to edit existing images in myUSF

[2018-08-14 18:02] nicholas-kebbas opened #341 "Twitter Feed on Homepage Still Not Pulling In Images"

[2018-08-14 18:11] nicholas-kebbas opened #343 "Contact Box Changes"
- 4 or 5 Address fields should be available
- 3 or 4 Hours of Operation fields should be available
- Allow HTML codes in text fields (such as the email field and hours fields)

[2018-08-14 18:54] nicholas-kebbas opened #344 "<p> being automatically added to images in carousel"

[2018-08-14 21:07] mjuarez2 commented on #340
@drmyers1 @nicholas-kebbas @rjbain Seems to work really well for me. I don't see any issues with it.

[2018-08-14 22:58] rjbain commented on #340
@nicholas-kebbas I'll look into how to replace a file.
There's a core issue about this: https://www.drupal.org/project/drupal/issues/2648816
I'll see if there's a workaround.

[2018-08-15 21:50] rjbain commented on #235
@drmyers1 @nicholas-kebbas Can you take a look here? https://pr-346-dgreat.pantheonsite.io/
You should be able to configure the quick links to open in a new window. Thanks.

[2018-08-15 22:26] nicholas-kebbas commented on #235
@rjbain Looks good

[2018-08-15 23:43] nicholas-kebbas opened #349 "Announcements Header"

[2018-08-15 23:44] nicholas-kebbas commented on #349
@tomkhenke @sozguzer

Hi Tom and Selin,

MJ created a header for the announcements section: https://pr-348-dgreat.pantheonsite.io/dashboard

Looks like it needs to be styled though.  Can you guys take a look?

[2018-08-16 17:34] #235 closed

[2018-08-16 17:58] nicholas-kebbas commented on #312
@mjuarez2 @drmyers1 Michael's new dashboard changes are up here: https://pr-348-dgreat.pantheonsite.io/

I'm currently testing with all roles.

@mjuarez2 David is putting together the finalized list of Top Apps and myLinks to give to you.  Can these changes be done locally and pushed to production, or would these need to be added to production after the content type is pushed up?

[2018-08-16 18:16] mjuarez2 commented on #312
@nicholas-kebbas @drmyers1 We could push the views and content type up and add all the content and then push the dashboard template up when the content is ready.

[2018-08-16 18:43] nicholas-kebbas commented on #312
@mjuarez2 @drmyers1 Sounds good michael, let's go with that.  Adding, removing, and editing these links seems to work so that's approved on my end.

[2018-08-16 20:03] drmyers1 commented on #312
@mjuarez2 @nicholas-kebbas i created the master list for both the top apps and the my links.
https://docs.google.com/document/d/1K3pQDWDtvSOQKaPyjAFamyB5_5wTSBs8Q1OmTHDntpI/edit#

Please take a look and let me know if you have any feedback.

[2018-08-16 22:41] mjuarez2 commented on #312
@drmyers1 @nicholas-kebbas The content type and views are live

[2018-08-23 17:18] dustinleblanc commented on #152
Per David
Need to alter the options to show words instead of stars

labels need to be customizable

[2018-08-23 17:36] drmyers1 commented on #152
@dustinleblanc here are the questions we will be using:

(1) "Overall, how connected do you feel to the University of San Francisco?”

1 = Strongly disconnected
2 = Disconnected
3 = Neither disconnected nor connected
4 = Connected
5 = Strongly connected.

(2) How much do you agree with the following statement? "I feel a part of campus life at the University of San Francisco."

1 = Strongly disagre

[2018-08-28 18:45] drmyers1 commented on #154
@dustinleblanc here are my testing results thus far.  Working with @rjbain, we were able to upload a list of students that will be prompted to answer one of the two survey questions.  I was able to create the form that includes the two questions and also include the campaign ID.

Here are the questions and answers:
(1) "Overall, how connected do you feel to the University of San Francisco?”

1 = S

[2018-08-29 18:26] drmyers1 commented on #154
@dustinleblanc ran some additional tests using 10 student accounts.  I found that on first log in 8 received question one and 2 received question two.  How does it determine the question to display.  Question one seems to be getting asked more.

Can we include the text "skip" by the "X"?  I think it would be good for the students to have some indicator that they will get prompted again.

I tried c

[2018-09-06 17:00] dustinleblanc commented on #154
These users either already have survey responses in the table for that survey, or they were still logged in (probably the former). You can clear the survey results so that they will get the pop up again or you can create a new survey and assign it to that block. If we don't do it that way, they will keep getting prompted even after they've answered.

The former makes sense as the data hasn't been

[2018-09-06 17:37] reynoldsalec commented on #154
After talking with @drmyers1 today, it sounds like remaining issues here are...

- [ ] Make sure the form doesn't show on all page requests
- [ ] Null result set on the Survey shouldn't return anything to SalesForce

[2018-09-06 20:27] drmyers1 commented on #154
@reynoldsalec Thank you for adding.

We also discussed adding the skip text by the close icon.

To clarify the first item, we need the form to show up after log in but should only display once per session, if skipped.  I would get the pop up on every page that i went to after skipping or closing the pop up.

[2018-09-11 22:20] reynoldsalec opened #364 "Default Links Batch Update Fails on Student Group"
Any time a default link is added or removed, there is code to batch update all the user profiles for the group.  Every time we try add a link to our student population, it errors out, which is preventing us creating any new default links.

Conversation starts in Slack [here](https://usf-web-services.slack.com/archives/C9PH3NHTQ/p1532457554000516); after basic fixes were implemented [and did not fi

[2018-09-11 22:21] reynoldsalec opened #365 "Roles -> Group Mapping Issue Overwrites User's Custom Link Preferences"
**Description**

From @drmyers1 [on Slack](https://usf-web-services.slack.com/archives/C9PH3NHTQ/p1533851179000210):

A user can login and add a personal quick link and can also customize their links by flagging and unflagging.  However, we found that when user logs back into the system the personal links and customization no longer display on their list of links.

@mjuarez2 dug a little deeper an

[2018-09-11 22:34] reynoldsalec opened #366 "dgreat_group Module Performance Issues On Login"
@mjuarez2 reported [on Slack](https://usf-web-services.slack.com/archives/C9PH3NHTQ/p1532038861000249) that they saw high latency when users were logging in originating from the dgreat_group module:

  We found the the CAS login process was very quick, but after authentication, there was quite a bit
  of latency coming from drupal. When looking at New Relic at the time we were doing the load
  tes

[2018-09-11 23:00] reynoldsalec commented on #366
@labboy0276 it might be good to think about this issue while looking at #365.

[2018-09-12 13:33] drmyers1 commented on #365
@reynoldsalec yes, this description looks correct.

[2018-09-12 13:35] drmyers1 commented on #364
@reynoldsalec I will have @mjuarez2 provide details of the work he did for this.

[2018-09-12 13:47] drmyers1 commented on #366
@reynoldsalec during our outage on Aug 20th we saw a huge slowdown in performance.  Users were waiting up to a minute to get logged in or would time out and were not able to complete the log in process.  After disabling the dgreat_group module the performance improvement was immediate.  The details can be seen in New Relic.  The slowdown began shortly after 11am and was stabilized shortly after 3p

[2018-09-12 19:07] labboy0276 commented on #364
OK @reynoldsalec @drmyers1 I added this to the PR: https://github.com/rjbain/dgreat/pull/367

I ran it locally, it took 27 mins form start to finish with no errors.  I could create a new multidev because there were too many multidevs.

[2018-09-12 19:33] labboy0276 commented on #364
OK @mjuarez2 here is the instance: https://pr-367-dgreat.pantheonsite.io/ if you wanted to test it

[2018-09-12 21:19] mjuarez2 commented on #364
@labboy0276 @drmyers1 I tested out the student group on the multidev, it took about 98 minutes, but it didn't error out, so I think that's pretty good.

[2018-09-12 21:27] drmyers1 commented on #364
@labboy0276 we have several changes that we need to make for the student group default links.  do we need to make our changes one at a time or can we make all the changes at the same time?

[2018-09-12 21:36] drmyers1 commented on #364
@labboy0276 @mjuarez2 i just want to test with a real world scenario.

[2018-09-13 17:05] nicholas-kebbas commented on #365
Couple Comments so far:

1. Favorite Links order (and the links themselves) seem to change upon every save.
2. Users not seeing their list of links on the dashboard.
3. Adding a link doesn't add it to my own personal links

As a user with links, however, my changes (removals/reorderings) seem to persist.

[2018-09-13 17:11] mjuarez2 commented on #365
Here's the link to the view where the add/manage links can be edited:

https://pr-368-dgreat.pantheonsite.io/admin/structure/views/view/quick_links/edit/block

[2018-09-13 17:51] rjbain commented on #365
@mjuarez2 @nicholas-kebbas It sounds like this might be an issue with the view, since it wasn't an issue we previously encountered. Could one of you take a look at it? Thanks!

[2018-09-13 23:42] mjuarez2 commented on #365
I tested the dgreat_group module on test. It took 2 hrs 11 minutes to update the Student group. The process did not error out. I pushed the module to live, and it is currently disabled. @labboy0276 @reynoldsalec @rjbain @nicholas-kebbas

[2018-09-14 19:36] mjuarez2 commented on #365
I have the dashboard template with the correct Quick Links/Favorite Links views here: https://pr-371-dgreat.pantheonsite.io This is how it should look.

The disappearing quick link bug can also be reproduced here. I was not able to see all the Quick Links or Favorite Apps at first until I deleted the account I was testing on and then added it back again, assigning the appropriate roles and groups

[2018-09-18 17:27] dustinleblanc commented on #365
@mjuarez2 yep I think that @labboy0276 added the default links to a user on account creation so that makes sense

[2018-09-18 23:13] #115 closed

[2018-09-19 00:02] nicholas-kebbas commented on #365
@rjbain @dustinleblanc @mjuarez2 Hi guys, was able to add but ran into some issues. Will elaborate tomorrow but for now:

dfaculty, demployee, d2groups,
Add a new myLink works (and adds to view)
Persists after logout works

Do not get their defaults.
Upon account deletion, still do not get their defaults when their account is created.

Rearrange myLinks
Works

Rearrange Top Apps
Does not rearrange

[2018-09-19 13:48] dustinleblanc commented on #366
@rjbain I am putting this in review/qa because the fixes for #365 should touch this, if you and @mjuarez2 can try to load test a multidev to see how it performs, I think that would give us a good read on whether the issue is resolved or not.

We're still doing some manipulation of the user on login, but we're doing less, and we can't avoid those manipulations if we want to keep their roles/groups

[2018-09-19 15:51] #312 closed

[2018-09-19 15:52] #269 closed

[2018-09-19 15:52] #294 closed

[2018-09-19 15:52] #282 closed

[2018-09-19 15:52] #158 closed

[2018-09-19 15:53] #41 closed

[2018-09-19 15:53] #206 closed

[2018-09-19 15:53] #219 closed

[2018-09-19 15:53] #220 closed

[2018-09-19 15:54] #297 closed

[2018-09-19 17:33] dustinleblanc commented on #365
Per Slack discussion, looks like we've got some more features to test out to make sure they are working

[2018-09-19 17:39] rjbain commented on #365
@dustinleblanc thanks for your help with this. We met and discussed the issue we're having with the default links. Since there is likely to be a performance issue during login if we want the default links to be updated when a user logs in, we're proposing moving default links to a separate view that we can put on the dashboard. This would simply display links based on the user's role that we could

[2018-09-19 17:41] dustinleblanc commented on #365
@rjbain re: the template change, yeah I see a funky diff in my PR for that which I wasn't expecting, I must not have rebased properly, planning to fix that shortly.

Good choice re: default links, I think we could visually smooth them together, however then maybe sorting would get bonkers? Not sure. I'll see if I can have that template snafu sorted shortly

[2018-09-19 18:28] rjbain commented on #365
Thanks @dustinleblanc. We discussed having the defaults and myLinks in the same view, but decided it would be too confusing for the user and likely more difficult to implement.

[2018-09-19 19:56] dustinleblanc commented on #365
@rjbain so should I just stay unconcerned with the default links and continue with just making sure re-ordering works? I remember that was a long running crazy issue John worked on

[2018-09-19 20:41] #258 closed

[2018-09-19 20:41] #289 closed

[2018-09-19 20:42] #296 closed

[2018-09-19 21:03] rjbain commented on #365
@dustinleblanc Yes, please. The reordering of the Top Apps on the left side isn't working. Also, for some reason the dstudent account can't save new myLinks. I checked that account and it does have the student role and student group, so there doesn't seem to be anything wrong with the account. Any ideas? Thanks.

[2018-09-20 21:35] rjbain commented on #365
@dustinleblanc I deleted the dstudent (student role) account and then logged in via CAS. I was able to add and rearrange myLinks afterward, so I think all of the issues are resolved with myLinks. @nicholas-kebbas feel free to close this if you see fit. Thanks guys.

[2018-09-21 18:30] nicholas-kebbas commented on #365
@dustinleblanc Yeah I tested and had the same result, so that's good. @rjbain  We should keep in mind that we need to test existing users pretty thoroughly to see if them not being able to add a myLink is a widespread problem, but we can't really address that until we're live so will close. Thanks guys!

[2018-09-21 18:30] #365 closed

[2018-10-01 17:32] nicholas-kebbas opened #377 "Favorite Links Bugs"
Bugs:
* when you reorder and delete in one transaction, it reorders incorrectly and deletes other links that were not flagged for removal.
*when some users delete all their links, they first get some back that were removed that shouldn't have been removed (see above), then get “website encountered an unexpected error” when those are removed.
* you get a different set of favorite apps each time you

[2018-10-01 19:37] labboy0276 commented on #377
I added code to escape when there are no quick links in the CustomWeightSelector views submit handler.  This fixed the php fatal error sadness.  The quick links all view was still pulling in old defaults, i removed that code as well.

[2018-10-01 22:47] nicholas-kebbas commented on #377
Thanks John.  Came across some odd issues while testing earlier. I made a video since it's a little tricky to explain:

https://drive.google.com/file/d/1IqGjsmzMaL90D-BBxruTmU7Jw8jaadyl/view?usp=sharing

But essentially:
In test 1, the starting Links are "BCDEF". I move B down, and unflag D. The expected output is "CBEF". We get "CEBF".
In test 2, I move F to the top, and unflag C.  The expected o

[2018-10-02 13:12] labboy0276 commented on #377
Hey @nicholas-kebbas I fixed this as well last night.  I made a screencast showing whats up: http://www.screencast.com/t/lZnTfKGSh63

The issue was due to the fact that the flagging mechanism (maybe the js) just borked the form state on this draggable views form.  So I reorder everything via the $_POST var keys which seemed to do the trick.

[2018-10-02 17:02] nicholas-kebbas commented on #377
Hey @labboy0276 Nice looks like that issue with old link getting added back in is fixed, and when I did the flagging process that you went through in the video, I got the expected result.

However there's still some weird behavior in other situations. i.e. when I have "ABCDEF" and move "C" to the top, then unflag "A" and "B", the resulting order is "ECDF" when we expect "CDEF".

https://drive.goog

[2018-10-02 18:41] rjbain commented on #154
@dustinleblanc it looks like the survey is still popping up on each page load if the user attempts to skip it. Were you able to look into that issue? Thanks.

[2018-10-02 22:18] labboy0276 commented on #377
I was able to fix this for the my links view but not the all links view.

[2018-10-03 12:44] labboy0276 commented on #154
@rjbain I will look into this for you

[2018-10-03 13:44] dustinleblanc commented on #154
@rjbain sorry that wasn't up yesterday! I was working on it and my power went out for an hour or so and I completely forgot to push it when it came back up, should be deployed now

[2018-10-03 17:40] labboy0276 commented on #377
OK @nicholas-kebbas here is a vid showing it works: http://www.screencast.com/t/duuJt1BuFmCc

[2018-10-03 20:12] nicholas-kebbas commented on #377
Hey @labboy0276 Thanks for fixing that piece, the reordering when you unflag looks like it's working.  We came across a weird bug when we were testing just now though.  Also made a video as dstudent, after having logged out then logged back in: https://drive.google.com/file/d/1q20uVnzD0yJrWv4bSlHYD6QWUkYuC4mZ/view?usp=sharing

This one is somewhat tricky to replicate, but if you:
1. Log out and lo

[2018-10-03 20:32] labboy0276 commented on #377
OK @nicholas-kebbas I will stare tomorrow and see

[2018-10-03 21:04] rjbain commented on #154
@dustinleblanc I can confirm the popups aren't popping on every page now, but I created a new form for testing and I'm not seeing any of the results. Also, there's an issue on FireFox where the "Search" text is flashing on the screen before the search icon appears. It's not happening on the live site.

[2018-10-04 18:32] nicholas-kebbas commented on #377
@labboy0276 @reynoldsalec the steps to reproduce the bug where additional quick links are removed, after you add links, then unflag a link:
 https://docs.google.com/document/d/1HaPxtENhwxu8xoNdyFrp0QB6YGpvnRwzELq7lK-ETLw/

[2018-10-04 18:57] labboy0276 commented on #377
it was 2 things
1. the user weights were not being set on quick link save correctly
2. the range of the weight field was angry because the range in the field settings is only -20 to 20.  So When pulling from the user_weights table, most were out of that range causing their weights to all be the same.  hence the funny disappearing stuff

[2018-10-18 16:17] nicholas-kebbas opened #385 "Batch Process adds new link, but link is hidden from view"
When you add a new favorite app through the batch process, it adds the new link at a weight of -1000. If this weight is already occupied by another on the user's list, then they will not see the newly added link.

[2018-10-22 13:38] labboy0276 commented on #385
@nicholas-kebbas I can;t replicate.  When I add a new quick link via the defaults, it renders the right weight.  I pulled the DB from the live instance as a FYI.

Can you send me a screenshot of what fields you entered to get the results you got please

[2018-10-22 16:50] rjbain commented on #154
@dustinleblanc  I did some testing and ran into some issues:

1st submission didn't show up in the endpoint (user: rob_test)
2nd submission created two (duplicate) responses in the endpoint (user: rob_test1)
3rd submission created two (duplicate) responses in the endpoint (user: rob_test2)

During the first try, I refreshed the page with the form popup on it, then logged out. When I logged back in

[2018-10-22 17:42] nicholas-kebbas commented on #385
@labboy0276
It looks to occur for users who haven't reordered since multiple default apps were added.

You should be able to replicate if you add two consecutively through the default operation without reordering. I also created a video since it's a bit tricky to show via screenshots.  But overall, if the user doesn't reorder between favorite link adds, the new link keeps adding at the same weight

[2018-10-23 12:59] dustinleblanc commented on #154
@rjbain that first submission exists in the results: https://pr-199-dgreat.pantheonsite.io/admin/structure/webform/manage/oct_22/results/submissions

It just doesn't have any answers to questions for some reason. It'd be interesting to see if that was reproducible.

Re: the duplicate results, I am seeing that too, must be my data munging isn't filtering those out, Let me see if I can fix that real

[2018-10-23 15:54] rjbain commented on #154
@dustinleblanc Should I delete the submission for rob_test and try again? Or should I create a new form and upload a new user list and try again?

[2018-10-24 16:33] dustinleblanc commented on #154
@rjbain I think just deleting the response and trying again is probably solid. I went ahead and handled the deduplication, so when that deploys, this should be the last issue to confirm

[2018-10-25 21:10] drmyers1 commented on #154
@dustinleblanc @reynoldsalec @rjbain  i re-tested the survey. Before testing i cleared the form data.

- I first logged in as rob_test.  I received the pop-up and answered the question.  I logged out and back in and received the pop-up again.  I submitted the form a second time.  Logged out and back in and got the pop-up a third time.  Did not submit.

- I tried the same rob_test1 and received the

[2018-10-26 17:28] drmyers1 commented on #154
@dustinleblanc any thoughts on what could be causing this?

[2018-10-29 18:41] dustinleblanc commented on #154
Hi @drmyers1! That is definitely not something I expected to happen, you shouldn't see the form again after logging out and then back in. Seeing only one response actually fits what the data team needs from the API, so even if you could submit multiple responses to the same question as the same user, we're only supposed to show one. I am pulling the site database now to take a look at it.

[2018-10-29 23:09] drmyers1 commented on #154
@dustinleblanc There was one submission that came up as empty.  So it looked like it was only showing that I submitted the form but I could see the value that I selected.

[2018-10-30 22:54] reynoldsalec commented on #154
- [ ] After submitting the form, when I log out then log back in, the form appears again.
- [ ] Submission data does not save from the first submission

[2018-10-31 01:31] reynoldsalec commented on #154
Deployed! @drmyers1 you should be able to test.

[2018-10-31 17:49] drmyers1 commented on #154
@reynoldsalec @dustinleblanc @rjbain  i tested with Rob's test accounts.  I am still seeing the issue where the first submitter does not show the value that was selected.  I would like to run similar tests with actual student accounts.  I am attaching two screenshots.  One shows rob_test being the first submitter and then the other screenshot shows rob_test2 being the first.  Both dont have the va

[2018-10-31 17:55] reynoldsalec commented on #154
@drmyers1 we'll need steps for replication on the "missing values" issue; I see that the other accounts submitted correctly, so we'll need a 100% replicable pathway for that (IE here are the steps to get no value vs. here are the steps that produced a value).

[2018-10-31 23:35] drmyers1 commented on #154
@reynoldsalec @dustinleblanc @rjbain i ran 20 to 30 tests to see if I can create re-producible steps for the missing values.  I believe I identified one possible scenario that caused the missing value.  Here are the steps I took for last round of testing:

First Step - Cleared Form Data

First Test:
- Logged in as user kgfantillo and received the pop-up
- Answered the survey
- Logged out
- Checked

[2018-10-31 23:40] rjbain commented on #154
@drmyers1 @reynoldsalec @dustinleblanc Here are the results I see in the API endpoint:

[code]

[2018-11-02 07:06] reynoldsalec commented on #154
Ok, finally figured out what was going on with the submission values. In testing, once I eliminated any possibility of a caching issue, I noticed that failures seemed to occur randomly. Thinking about the only "random" element in this feature, I found out that the hook used to randomly select and remove one of the questions (`hook_ENTITY_TYPE_prepare_form`) was probably being run at somepoint duri

[2018-11-02 07:10] reynoldsalec commented on #154
Back to you for QA @drmyers1!

[2018-11-02 15:36] drmyers1 commented on #154
@reynoldsalec thank you for the details on the fix.  I will run QA on this and let you know my results.

[2018-11-02 22:03] drmyers1 commented on #154
@reynoldsalec i ran about 20 tests using the previously mentioned testing steps.  I see a submission for every test account I used.  I have passed the feedback on to our data team to see if they are getting the data.  I will update you as I get feedback.  Please let me know if you have any questions. Thank you!

-David

[2018-11-02 23:38] drmyers1 commented on #154
@reynoldsalec it looks like our data team was able to pull my test data into Salesforce.

[2018-11-07 21:09] nicholas-kebbas opened #392 "Top Apps Performance"
We encountered performance issues on our live site when we pushed the most recent Top Apps changes (https://github.com/rjbain/dgreat/commit/6b88e2f4541f2406681ce82c9ece02f8fed8e074 and https://github.com/rjbain/dgreat/commit/aaa30ccb44a382692f812f22a6f269c77f2e9065)

We pushed out the changes on the morning of Oct. 30 and disabled it the evening of Oct. 31. ![Screen Shot 2018-11-07 at 12.57.59 PM.

[2018-11-07 21:34] labboy0276 commented on #392
@nicholas-kebbas can you give me some cas users to test on login?

[2018-11-07 22:37] nicholas-kebbas commented on #392
@labboy0276 Sure:

UN: d3roles
UN: d2roles
UN: dfaculty
UN: dstudent
UN: demployee

All passwords are StashBoard1

d3roles will give you the worst case load time

[2018-12-03 14:11] labboy0276 commented on #385
@nicholas-kebbas is this still an issue since the batch mechanism is no more?

[2018-12-03 17:19] nicholas-kebbas commented on #385
@labboy0276 Nope this is resolved since the important batch logic runs upon login now. I'll move the card

[2018-12-03 17:19] #385 closed

[2018-12-03 19:23] labboy0276 commented on #392
OK @nicholas-kebbas I redid a lot of how the code works for flagging users on login + assigning weights.  There is no need for the batch anymore either.

I tested this on a pr multidev and my logins were around 3-4 seconds with the d3roles at the most.  I imagine on live it will be much faster.

QA: http://pr-398-dgreat.pantheonsite.io/
PR: https://github.com/rjbain/dgreat/pull/398

[2018-12-03 20:16] #114 closed

[2018-12-03 20:19] nicholas-kebbas commented on #392
Hey @labboy0276 The functionality seems to still be working but I'm getting 10+ second login with d3roles on http://pr-398-dgreat.pantheonsite.io/.  Odd that you're getting such a faster login.

I took a quick look at new relic and there are some spikes caused by the dgreat_group module whenever I login. The chart does look a little different than it did previously:

![screen shot 2018-12-03 at 12

[2018-12-03 20:33] labboy0276 commented on #392
I know why, the tables are so huge for flagging and user weights.  I was running on a truncated table base @nicholas-kebbas

Need to stare more tomorrow to see what else I can improve.

[2018-12-03 22:02] labboy0276 commented on #392
@nicholas-kebbas OK, I noticed the custom user weights table had no indexes on it.  I went ahead and created 2 indexes and this usually helps with performance.  I tested it with d3roles and I logged in quick.

Can you double check?

[2018-12-03 23:01] nicholas-kebbas commented on #392
@labboy0276 That seems to have helped. I logged in in about 5 seconds with d3roles.  The spikes in new relic are also better:

![screen shot 2018-12-03 at 11 53 18 am](https://user-images.githubusercontent.com/5649192/49407094-54d95e80-f70c-11e8-9cb9-c61a1eea2141.png)

[2018-12-04 12:07] labboy0276 commented on #392
@nicholas-kebbas I was going to try and see if I could get the JMeter of Blazemeter stuffs to work today

[2018-12-04 13:56] labboy0276 commented on #392
OK

So I added another index and did some testing based off of that.  It is slightly more performant based on my tests as you can see here: https://docs.google.com/spreadsheets/d/1ALBBw4kCsLt6q6_UFibPJEXLAQL7MrPkMk-NeiXHZfo/edit#gid=421241568

Also, you can see from the new relic graph the whole flow of 3 indexes seems more stable (they are the first 3 peaks):

![screenshot from 2018-12-04 08-53-3

[2018-12-04 14:36] labboy0276 commented on #392
OK

So I added another index and did some testing based off of that.  It is slightly more performant based on my tests as you can see here: https://docs.google.com/spreadsheets/d/1ALBBw4kCsLt6q6_UFibPJEXLAQL7MrPkMk-NeiXHZfo/edit#gid=0

This is testing the flagging of the default links per login.  That is where the huge hangups were.  Each cycle is a different group adding its flags.  This was all

[2018-12-04 18:53] drmyers1 commented on #392
@labboy0276 thank you for information.  We are reviewing the data and get back to you with any questions.
@nicholas-kebbas @reynoldsalec

[2018-12-04 19:20] nicholas-kebbas commented on #392
@labboy0276 Thanks John. Could you try running the blazemeter test with 1000 users concurrently? We want to get an accurate representation of how the site might respond with a high volume of simultaneous users.  If that checks out we'll work on putting this into production this afternoon to see how it performs.

[2018-12-11 15:59] labboy0276 opened #403 "USF Banner / Address Migration"
Placeholder card for the USF Banner / Address Migration

[2018-12-12 17:06] reynoldsalec commented on #403
@labboy0276 note the requirements around the interaction between the student survey and address change; we'll probably need to update the student survey to not show on the address change page (if we're keeping that a page), but to not invalidate the student survey so it will show up on the next page load after the address form is submitted.

[2019-01-11 06:08] reynoldsalec commented on #403
@labboy0276 the original code added to student_survey was causing an error (you can't `return FALSE` in a block `build()` function implementation, it caused an error when the block was added to the page).

I reconfigured that in the commit above, but for some reason my `$address_check_inactive` boolean keeps evaluating as TRUE when the address form is active.

Since I don't have an instance of the

[2019-01-11 15:40] labboy0276 commented on #403
@reynoldsalec I changed the logix a little so it should be ok now, can you please test again?

[2019-01-14 19:41] labboy0276 commented on #403
OK @reynoldsalec I fixed this and just pushed it up

[2019-01-25 19:08] drmyers1 commented on #403
@labboy0276 @reynoldsalec Testing Feedback:

there is a menu that is showing up on the dashboard.  This menu is not displaying on production or any of our other multdevs.  Here is a screenshot.
![screen shot 2019-01-23 at 1 40 35 pm](https://user-images.githubusercontent.com/37413213/51767039-0f446c80-2091-11e9-9de4-e88d9bafa05b.png)
on our previous instance if someone had a blank address, it have

[2019-01-28 17:14] labboy0276 commented on #403
@drmyers1 I made this screen cast to explain some of the issues and how I resolved them: http://www.screencast.com/t/Mh7hmXdL83q

I still need to fix the placeholder address issue, the survey + address check issue and the student survey misalignment issues.

[2019-01-28 21:07] drmyers1 commented on #403
@labboy0276 thanks for the screen cast.  I will run some additional tests on the changes you mentioned.

[2019-01-29 17:20] drmyers1 commented on #403
@labboy0276 i had two of our students that haven't tested log in and both did not get the address check pop up or the student survey.  Here are the usernames: tmchen4 & dgarcia15

I have a couple more students working today that we will test with.

[2019-01-29 17:56] labboy0276 commented on #403
@drmyers1 It looks like tmchen4 confirmed today at 945 am PST && dgarcia15 I was able to get his to show up by changing the start date of the form to yesterday.

The only way to get the date to fille dint he confirm spot s by going through the process

[2019-01-29 21:48] drmyers1 commented on #403
@labboy0276 I will take a look and see if I can replicate again.

Also, I am going to be out of the office for the next week but @rjbain @nicholas-kebbas will provide support on this while I am out.  CC @reynoldsalec

[2019-02-05 14:15] labboy0276 commented on #403
@drmyers1 I wasnt sure what to put for the empty fields, so I just used **EMPTY** in the dialog.  You can test with student scladd

[2019-02-05 23:14] rjbain commented on #403
Thanks, @labboy0276. We'll check it out tomorrow.

[2019-02-06 20:18] nicholas-kebbas commented on #403
Thanks @labboy0276.

Tested with some students and noticed that one of them saw "**EMPTY**" appear when the "Address 2" field isn't filled out. We would not want that to appear in this case, as long as "Address 1" is filled out.

![address_empty_issue](https://user-images.githubusercontent.com/5649192/52370908-02b50200-2a09-11e9-9931-e8a88676c2bd.png)
![address_empty_issue_form](https://user-image

[2019-02-07 13:34] labboy0276 commented on #403
OK @nicholas-kebbas I fixed it so empty doesn't show for address2

[2019-02-11 16:39] drmyers1 commented on #403
@labboy0276 i ran several tests for the address change.  I see the address2 is working as expected.  I did run into the issue again with the user 'ctzejanda'.  She logged in and did not get the address check.  I had set the start date to Feb 8 on the address configuration page.  I also had her log in to the banner system and her local residence has not been updated since 2016.  I am trying replica

[2019-02-11 16:46] labboy0276 commented on #403
@drmyers1 OK I am curious if cas login isnt firing this.  If you can replicate via CAS login, can I get the CAS logins of a cpl students?

[2019-02-12 17:14] drmyers1 commented on #403
@labboy0276 i tried testing with another student CAS account and was able to get the address pop up.  I am having IT reset the ctzejanda account and will have her try again.  I want confirm that it is not an account related issue on our test instance.

[2019-02-12 21:47] drmyers1 commented on #403
@labboy0276 i was able to re-test again with ctzejanda.  It looks like it was problem with her profile on the test instance.  We got the pop-up after the profile was updated.  I will run a few more tests and get back to you with the results.  Please let me know if you have any questions.

[2019-02-14 00:47] drmyers1 commented on #403
@labboy0276 i ran more tests with all our students and the address pop-up work as expected.  I also tested with students that would also get the student survey and that seems to be working as well.  Please let me know if you have any questions.

[2019-02-14 14:21] labboy0276 commented on #403
@drmyers1 Great, so I guess we can push this live?  We will also need to copy the certs up to the live File system as well

[2021-02-12 01:05] rjbain opened #557 "Group module errors"
Hey @labboy0276 I tried upgrading to the dev version of Group and I'm still getting this error when visiting the home/root page:

https://www.drupal.org/project/group/issues/3197610

It doesn't appear when I'm logged in as user 1, but when David and I log in with our own accounts, it throws that error. Also, it goes away if I flush all the caches, but comes back if I log out then back in.

We're c

[2021-02-12 16:44] labboy0276 commented on #557
Hey @rjbain It seems that patch is for a pre 1.1 version as those hooks don't exist anymore in 1.1+

So the best path forward is to try and figure out the TypeError issue you are getting.  Do you have a PR branch setup with 1.3 installed?

[2021-02-12 17:48] rjbain commented on #557
Thanks @labboy0276. I have one set up here:
https://pr-551-dgreat.pantheonsite.io/

[2021-02-17 19:54] rjbain commented on #557
@labboy0276 I deleted my personal account on that pr-551 branch then logged back in and I was able to view the home page without any error. It did delete all my Top Apps and Fav Links from the dashboard page though. Also, when I initially deleted my account it threw an error, but after logging back in and deleting it again, it didn't throw any error.

This is the error we're getting when deleting

[2021-02-18 19:35] labboy0276 commented on #557
OK @rjbain I was gonna stare today, but let me know if you need me to look.

[2021-02-18 21:03] rjbain commented on #557
@labboy0276 That would be great if you could look at it when you get a chance. If we could get past that TypeError we could upgrade the Group module and not have to worry about someone rebuilding the permissions and breaking the site again.

[2021-02-24 16:43] rjbain commented on #557
@labboy0276 Do you think you might have time to stare this week?

[2021-03-01 18:56] labboy0276 commented on #557
Hey @rjbain I was playing around with it the other day.  I keep getting sucked into this project that is going live on Weds.  I will try and take a look again this week.

[2021-03-01 19:11] rjbain commented on #557
Thanks @labboy0276. I really appreciate it.

[2021-03-08 16:45] rjbain commented on #557
@labboy0276 Think you might be able to stare this week? Hope your launch went well on Wednesday.

[2021-03-08 21:07] labboy0276 commented on #557
@rjbain I hope so, sorry I haven't won this yet.  Been getting pulled in 812 different directions.

[2021-03-08 21:48] rjbain commented on #557
I get it @labboy0276. Thanks for keeping it on your radar.

[2021-05-19 23:23] rjbain commented on #557
@labboy0276 I hope things are going better for you and the missuz. Just wanted to up this update issue in case you're back to work soon...

I created a new multidev for this issue:
https://pr-577-dgreat.pantheonsite.io/

With the Group module updates applied it seems to fix the issue we had with rebuilding permissions breaking the permissions on the site. However, we're getting an error when navig

[2021-05-20 15:19] labboy0276 commented on #557
Hey @rjbain

Wife is still not 100% but I am working again for the most part.  I am just finishing up another project and then can swing back to this one to see whats up.  Should be soon.

[2021-05-20 16:41] rjbain commented on #557
Thank you @labboy0276.
cc @drmyers1

[2021-05-23 23:22] labboy0276 commented on #557
@rjbain I added a patch that stops the error from happening.  I am not 100% sure why it is failing.  This patch will not add permission for a user if this fails.  So I don't believe it will affect anything.  The patch is on DO: https://www.drupal.org/project/group/issues/3197610#comment-14112197

[2021-05-24 15:25] rjbain commented on #557
Thank you @labboy0276!

I was able to confirm with my account that the page is loading for me. I'm out of the office this week, but will pass on the news to @drmyers1. We'll have to quite a bit of testing on this branch.

[2021-05-28 15:58] drmyers1 commented on #557
@labboy0276 we have ran the test branch through a series of tests and so far we have not found any problems. Is there anything you think we need to be concerned about or need to investigate further with this error?  cc @rjbain

[2021-06-01 12:31] labboy0276 commented on #557
@drmyers1 @rjbain I would just double make sure that all the content permission work as expected.  Other than that, I can't think of anything else.

[2021-06-02 18:57] drmyers1 commented on #557
@labboy0276 i believe we have tested all the content that has group permissions associated with it.  Don't see any issues.  cc @rjbain